Repository Automattic/pocket-casts-ios, pull requests merged in 2022-10, with the labels that each got.

#334 Adjust padding to exclude the scrollbar in folders
  podcasts/CreateFolderView.swift
  podcasts/EditFolderPodcastsView.swift
  podcasts/PodcastPickerRow.swift
  podcasts/PodcastPickerView.swift
Labels: bug, folders

#343 Tooling: add a P2 link on the bot message when finishing a code freeze
  fastlane/Fastfile
Labels: tooling

#355 Tooling: add P2 link for intermediary beta on Slack message
  fastlane/Fastfile
Labels: tooling

#370 Tighten up the widget letter spacing.
  WidgetExtension/Now Playing/NowPlayingLockScreenWidget.swift
Labels: bug

#366 Fix episode count label display issue in iOS 14
  CHANGELOG.md
  podcasts/EpisodeListSearchController.xib
Labels: bug

#373 Explicitly prevent Xcode from bumping the build number
  Gemfile.lock
  fastlane/Fastfile
  podcasts.xcodeproj/project.pbxproj
Labels: Releases

#371 Remove force unwrap on missing episode.
  CHANGELOG.md
  podcasts/UpNextNowPlayingCell.swift
Labels: bug, crash

#375 Honor the clear up next command when the episode isn't changing.
  CHANGELOG.md
  podcasts/PlaybackManager.swift
Labels: bug

#359 Migrate Crash reporting from Crashlytics to Sentry
  .configure
  .configure-files/pocket_casts_credentials.json.enc
  podcasts.xcodeproj/project.pbxproj
  podcasts/Analytics/Adapters/Crash Logging/CrashLoggingAdapter.swift
  podcasts/Analytics/Adapters/Crash Logging/CrashLoggingDataProvider.swift
  podcasts/AppDelegate+Analytics.swift
  podcasts/Credentials/ApiCredentials.tpl
Labels: enhancement, analytics

#362 Add Sentry Dsyms upload Steps to CI Release Cycle
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
Labels: tooling

#377 End of Year: add prompt
  PocketCastsTests/UnitTests.xctestplan
  podcasts.xcodeproj/project.pbxproj
  podcasts/End of Year/EndOfYear.swift
  podcasts/End of Year/Views/EndOfYearModal.swift
  podcasts/FeatureFlag.swift
  podcasts/MainTabBarController.swift
  podcasts/NavigationManager.swift
  podcasts/NavigationProtocol.swift
  podcasts/Styles.swift
Labels: End of Year

#367 Add support for OPML import using poll uuids.
  CHANGELOG.md
  Modules/Server/Sources/PocketCastsServer/Public/Refresh/MainServerHandler.swift
  podcasts/OpmlImporter.swift
Labels: Import

#387 Apple SSO: Setup
  podcasts.xcodeproj/project.pbxproj
  podcasts/FeatureFlag.swift
  podcasts/ProfileIntroViewController.swift
  podcasts/ProfileIntroViewController.xib
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
  podcasts/podcasts.entitlements
  podcasts/podcastsDebug.entitlements
Labels: Apple SSO

#388 Apple SSO: Happy Path
  Modules/Server/Sources/PocketCastsServer/Private/Protobuffer/api.pb.swift
  Modules/Server/Sources/PocketCastsServer/Public/API/ApiServerHandler+Account.swift
  Modules/Server/Sources/PocketCastsServer/Public/API/ApiServerHandler+SocialAuth.swift
  Modules/Server/Sources/PocketCastsServer/Public/Models/AuthenticationResponse.swift
  Modules/Server/Sources/PocketCastsServer/Public/ServerHelper.swift
  Modules/Server/Sources/PocketCastsServer/Public/ServerSettings.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/AuthenticationHelper.swift
  podcasts/EpisodeManager.swift
  podcasts/ProfileIntroViewController.swift
Labels: Apple SSO

#393 End of Year: add badge and card to Profile
  podcasts.xcodeproj/project.pbxproj
  podcasts/Constants.swift
  podcasts/End of Year/Views/EndOfYearCard.swift
  podcasts/End of Year/Views/EndOfYearPromptCell.swift
  podcasts/MainTabBarController.swift
  podcasts/ProfileViewController.swift
  podcasts/Settings.swift
Labels: End of Year

#395 Tooling: update the translation tooling
  fastlane/Fastfile
Labels: tooling

#400 Tooling: for beta and code freeze, submit the PR using a "merge branch"
  fastlane/Fastfile
Labels: tooling

#389 End of Year: add stories Data Source and gestures
  PocketCastsTests/Tests/End of Year/StoriesModelTests.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts.xcworkspace/xcshareddata/swiftpm/Package.resolved
  podcasts/End of Year/EndOfYear.swift
  podcasts/End of Year/StoriesDataSource.swift
  podcasts/End of Year/StoriesModel.swift
  podcasts/End of Year/Views/StoriesView.swift
  podcasts/End of Year/Views/StoryIndicator.swift
Labels: End of Year

#398 Apple SSO: Analytics - Sign in flow
  podcasts/AuthenticationHelper.swift
  podcasts/ProfileIntroViewController.swift
  podcasts/SyncSigninViewController.swift
Labels: analytics, Apple SSO

#397 End of Year: create a dummy story
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/PodcastDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  PocketCastsTests/Tests/End of Year/StoriesModelTests.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/End of Year/EndOfYear.swift
  podcasts/End of Year/Stories/DummyStory.swift
  podcasts/End of Year/Stories/EndOfYearStoriesDataSource.swift
  podcasts/End of Year/StoriesDataSource.swift
  podcasts/End of Year/StoriesModel.swift
  podcasts/End of Year/Views/StoriesView.swift
Labels: End of Year

#411 End of Year: show total listening time for the year
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/EndOfYearDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  Modules/Utils/Sources/PocketCastsUtils/Extensions/Double+formatTime.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/End of Year/Stories/EndOfYearStoriesDataSource.swift
  podcasts/End of Year/Stories/ListeningTimeStory.swift
  podcasts/StatsViewController.swift
Labels: End of Year

#413 End of Year: show total categories listened and top categories
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/EndOfYearDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/End of Year/Stories/EndOfYearStoriesDataSource.swift
  podcasts/End of Year/Stories/ListenedCategoriesStory.swift
  podcasts/End of Year/Stories/TopListenedCategories.swift
Labels: End of Year

#414 End of Year: show number of listened podcasts and episodes
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/EndOfYearDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/End of Year/Stories/EndOfYearStoriesDataSource.swift
  podcasts/End of Year/Stories/ListenedNumbersStory.swift
Labels: End of Year

#417 Folders: Choose Podcasts UI is cut off at the top fix
  CHANGELOG.md
  podcasts/PodcastPickerView.swift
Labels: bug, folders

#415 End of Year: show top 1 podcast and top 5 podcasts
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/EndOfYearDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/PodcastDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Podcast+fromDatabase.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/End of Year/Stories/EndOfYearStoriesDataSource.swift
  podcasts/End of Year/Stories/TopFivePodcastsStory.swift
  podcasts/End of Year/Stories/TopOnePodcastStory.swift
Labels: End of Year

#416 End of Year: show longest episode played
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/EndOfYearDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/EpisodeDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Episode+fromDatabase.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/End of Year/Stories/EndOfYearStoriesDataSource.swift
  podcasts/End of Year/Stories/LongestEpisodeStory.swift
Labels: End of Year

#420 End of Year: show first and last story
  PocketCastsTests/Tests/End of Year/StoriesModelTests.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/End of Year/Stories/EndOfYearStoriesDataSource.swift
  podcasts/End of Year/Stories/EpilogueStory.swift
  podcasts/End of Year/Stories/IntroStory.swift
  podcasts/End of Year/StoriesConfiguration.swift
  podcasts/End of Year/StoriesController.swift
  podcasts/End of Year/StoriesDataSource.swift
  podcasts/End of Year/StoriesModel.swift
  podcasts/End of Year/Views/StoriesView.swift
Labels: End of Year

#432 About screen dark theme background in light mode fix
  CHANGELOG.md
  podcasts/AboutView.swift
Labels: bug

#426 Modify accessibility label of ThemeableSelectionView based on its selection state
  podcasts/ThemeableSelectionView.swift
Labels: accessibility

#271 Fix crash when selecting title of featured episode
  CHANGELOG.md
  podcasts/DiscoverEpisodeViewModel.swift
  podcasts/DiscoverSummaryProtocol.swift
  podcasts/DiscoverViewController+DiscoverDelegate.swift
  podcasts/EpisodeListTableViewCell.swift
  podcasts/ExpandedEpisodeListViewController.swift
  podcasts/SingleEpisodeViewController.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: crash

#433 End of Year: check eligibility and listening history
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/EndOfYearDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  PocketCastsTests/Mocks/EndOfYearManagerMock.swift
  PocketCastsTests/Tests/End of Year/EndOfYearStoriesBuilderTests.swift
  podcasts/End of Year/EndOfYear.swift
  podcasts/End of Year/EndOfYearStoriesBuilder.swift
  podcasts/MainTabBarController.swift
  podcasts/ProfileViewController.swift
Labels: End of Year

#441 End of Year: design modal and profile's card
  podcasts.xcodeproj/project.pbxproj
  podcasts/End of Year/EndOfYear.swift
  podcasts/End of Year/Stories/MDCSwiftUIWrapper.swift
  podcasts/End of Year/Views/EndOfYearCard.swift
  podcasts/End of Year/Views/EndOfYearModal.swift
  podcasts/End of Year/Views/EndOfYearPromptCell.swift
  podcasts/End of Year/Views/StoriesView.swift
  podcasts/EndOfYear.xcassets/2022_small.imageset/2022_small@3x.png
  podcasts/EndOfYear.xcassets/2022_small.imageset/Contents.json
  podcasts/EndOfYear.xcassets/Contents.json
  podcasts/EndOfYear.xcassets/modal_background.imageset/Contents.json
  podcasts/EndOfYear.xcassets/modal_background.imageset/modal_background@3x.png
  podcasts/MainTabBarController.swift
  podcasts/NavigationManager.swift
  podcasts/NavigationProtocol.swift
  podcasts/Strings+Generated.swift
  podcasts/Styles.swift
  podcasts/en.lproj/Localizable.strings
Labels: End of Year

#448 End Of Year: Intro story design
  Modules/Utils/Sources/PocketCastsUtils/Extensions/UIDevice+isIpad.swift
  podcasts/End of Year/EndOfYear.swift
  podcasts/End of Year/Stories/IntroStory.swift
  podcasts/End of Year/StoriesDataSource.swift
  podcasts/EndOfYear.xcassets/2022_big.imageset/2022_big@3x.png
  podcasts/EndOfYear.xcassets/2022_big.imageset/Contents.json
  podcasts/EndOfYear.xcassets/logo_white.imageset/Contents.json
  podcasts/EndOfYear.xcassets/logo_white.imageset/logo_white.png
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: End of Year

#460 End of Year: add strings
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: End of Year

#452 End of Year: listening time story design
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/End of Year/EndOfYearStoriesBuilder.swift
  podcasts/End of Year/Stories/DynamicBackgroundView.swift
  podcasts/End of Year/Stories/EndOfYearStoriesDataSource.swift
  podcasts/End of Year/Stories/ListeningTimeStory.swift
  podcasts/EndOfYear.xcassets/bottom_blob.imageset/Contents.json
  podcasts/EndOfYear.xcassets/bottom_blob.imageset/Vector 1-4.png
  podcasts/EndOfYear.xcassets/top_blob.imageset/Contents.json
  podcasts/EndOfYear.xcassets/top_blob.imageset/Vector 2-4.png
  podcasts/Strings+Generated.swift
Labels: End of Year

#453 End of Year: listened categories design
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/EndOfYearDataManager.swift
  PocketCastsTests/Tests/End of Year/EndOfYearStoriesBuilderTests.swift
  podcasts/End of Year/Stories/EndOfYearStoriesDataSource.swift
  podcasts/End of Year/Stories/ListenedCategoriesStory.swift
  podcasts/End of Year/Stories/ListeningTimeStory.swift
Labels: End of Year

#455 End of Year: top 1 podcast story design
  podcasts/End of Year/Stories/TopOnePodcastStory.swift
Labels: End of Year

#462 End of Year: top 5 podcasts design
  podcasts/End of Year/Stories/TopFivePodcastsStory.swift
Labels: End of Year

#463 End of Year: longest episode listened story design
  podcasts/End of Year/Stories/LongestEpisodeStory.swift
Labels: End of Year

#467 End of Year: epilogue story design
  podcasts/End of Year/Stories/DynamicBackgroundView.swift
  podcasts/End of Year/Stories/EpilogueStory.swift
Labels: End of Year
