Repository Automattic/pocket-casts-ios, pull requests merged in 2023-08, with the labels that each got.

#1015 Bookmarks: Fixes an iOS 15 issue when adding a hosting controller as a child
  podcasts/FakeNavViewController.swift
  podcasts/PodcastHeadingTableCell.swift
Labels: Bookmarks

#1013 Bookmarks: Adds the episode bookmark list page
  Modules/Utils/Sources/PocketCastsUtils/Extensions/UI/PagedUIScrollView.swift
  Modules/Utils/Sources/PocketCastsUtils/Extensions/UI/UIScrollView+Helpers.swift
  Modules/Utils/Sources/PocketCastsUtils/General/WeakRef.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/Bookmarks/Episode/BookmarkEpisodeListController.swift
  podcasts/Bookmarks/Episode/BookmarkEpisodeListView.swift
  podcasts/Bookmarks/List/BookmarkEpisodeListViewModel.swift
  podcasts/EpisodeDetailViewController.swift
  podcasts/EpisodeDetailViewController.xib
  podcasts/FakeNavViewController.swift
Labels: Bookmarks

#1014 Bookmarks: Adds the tabs to the episode detail view
  podcasts.xcodeproj/project.pbxproj
  podcasts/Bookmarks/Episode/BookmarkEpisodeListController.swift
  podcasts/Bookmarks/Episode/BookmarkEpisodeListView.swift
  podcasts/Bookmarks/Episode/EpisodeDetailTabView.swift
  podcasts/Bookmarks/List/BookmarksListView.swift
  podcasts/EpisodeDetailViewController.swift
  podcasts/FakeNavViewController.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: Bookmarks

#1017 Bookmarks: Add the bookmark indicator to the episode cell
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Bookmarks/BookmarkDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/BaseEpisode.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Episode.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/UserEpisode.swift
  Modules/DataModel/Tests/PocketCastsDataModelTests/BookmarkDataManagerTests.swift
  podcasts/BookmarkManager.swift
  podcasts/Bookmarks.xcassets/bookmark-icon-episode.imageset/Contents.json
  podcasts/Bookmarks.xcassets/bookmark-icon-episode.imageset/bookmark-icon-episode.pdf
  podcasts/EpisodeCell.swift
  podcasts/EpisodeCell.xib
  podcasts/PodcastViewController.swift
Labels: Bookmarks

#1018 Bookmarks: Shows the bookmarks for user files
  podcasts.xcodeproj/project.pbxproj
  podcasts/Bookmarks/Episode/BookmarkEpisodeListController.swift
  podcasts/Bookmarks/Episode/BookmarkEpisodeListView.swift
  podcasts/Bookmarks/List/BookmarkCardTitleView.swift
  podcasts/Bookmarks/List/BookmarkListViewModel.swift
  podcasts/Bookmarks/List/BookmarkPodcastListViewModel.swift
  podcasts/Bookmarks/Podcast/BookmarksPodcastListView.swift
  podcasts/UserEpisodeDetailViewController+Table.swift
  podcasts/UserEpisodeDetailViewController.swift
  podcasts/UserEpisodeDetailViewController.xib
Labels: Bookmarks

#1012 Bookmarks: Wrap the episode detail view in a scrollview
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Bookmarks/BookmarkDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/BaseEpisode.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Episode.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/UserEpisode.swift
  Modules/DataModel/Tests/PocketCastsDataModelTests/BookmarkDataManagerTests.swift
  Modules/Utils/Sources/PocketCastsUtils/Extensions/UI/PagedUIScrollView.swift
  Modules/Utils/Sources/PocketCastsUtils/Extensions/UI/UIScrollView+Helpers.swift
  Modules/Utils/Sources/PocketCastsUtils/General/WeakRef.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/BookmarkManager.swift
  podcasts/Bookmarks.xcassets/bookmark-icon-episode.imageset/Contents.json
  podcasts/Bookmarks.xcassets/bookmark-icon-episode.imageset/bookmark-icon-episode.pdf
  podcasts/Bookmarks/Episode/BookmarkEpisodeListController.swift
  podcasts/Bookmarks/Episode/BookmarkEpisodeListView.swift
  podcasts/Bookmarks/Episode/EpisodeDetailTabView.swift
  podcasts/Bookmarks/List/BookmarkCardTitleView.swift
  podcasts/Bookmarks/List/BookmarkEpisodeListViewModel.swift
  podcasts/Bookmarks/List/BookmarkListViewModel.swift
  podcasts/Bookmarks/List/BookmarkPodcastListViewModel.swift
  podcasts/Bookmarks/List/BookmarksListView.swift
  podcasts/Bookmarks/Podcast/BookmarksPodcastListView.swift
  podcasts/EpisodeCell.swift
  podcasts/EpisodeCell.xib
  podcasts/EpisodeDetailViewController+Actions.swift
  podcasts/EpisodeDetailViewController+ShowNotes.swift
  podcasts/EpisodeDetailViewController.swift
  podcasts/EpisodeDetailViewController.xib
  podcasts/FakeNavViewController.swift
  podcasts/PodcastViewController.swift
  podcasts/Strings+Generated.swift
  podcasts/UserEpisodeDetailViewController+Table.swift
  podcasts/UserEpisodeDetailViewController.swift
  podcasts/UserEpisodeDetailViewController.xib
  podcasts/en.lproj/Localizable.strings
Labels: Bookmarks

#1019 PlaybackManager: remove lock
  CHANGELOG.md
  podcasts/PlaybackManager.swift
Labels: crash

#1023 Bookmarks: Adds importing of bookmarks from the server
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Bookmarks/BookmarkDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  Modules/DataModel/Tests/PocketCastsDataModelTests/BookmarkDataManagerTests.swift
  Modules/Server/Sources/PocketCastsServer/Private/API Tasks/ApiBaseTask.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+ServerChanges.swift
  Modules/Server/Tests/PocketCastsServerTests/SyncTaskTests+BookmarkImport.swift
  podcasts/BookmarkManager.swift
Labels: sync, Bookmarks

#1024 Bookmarks: Updates the database schema for syncing
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Bookmarks/Bookmark.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Bookmarks/BookmarkDataManager.swift
  Modules/DataModel/Tests/PocketCastsDataModelTests/BookmarkDataManagerTests.swift
Labels: sync, Bookmarks

#1025 Bookmark: Adds incremental syncing of bookmarks
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Bookmarks/Bookmark.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Bookmarks/BookmarkDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+LocalChanges.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+ServerChanges.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask.swift
  Modules/Server/Tests/PocketCastsServerTests/SyncTaskTests+BookmarkImport.swift
  podcasts/AppDelegate.swift
Labels: sync, Bookmarks

#1026 Bookmarks: Adds Full Syncing
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Bookmarks/BookmarkDataManager.swift
  Modules/Server/Sources/PocketCastsServer/Private/API Tasks/RetrieveBookmarksTask.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+FullSync.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+LocalChanges.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+ServerChanges.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask.swift
  Modules/Server/Tests/PocketCastsServerTests/SyncTaskTests+BookmarkImport.swift
Labels: sync, Bookmarks

#1027 Bookmarks: Migrates the Remote Skips Chapters setting to Headphone Controls
  podcasts/AppDelegate+Defaults.swift
  podcasts/GeneralSettingsViewController.swift
  podcasts/HeadphoneSettingsViewController.swift
  podcasts/PlaybackManager.swift
  podcasts/Settings.swift
  podcasts/SettingsViewController.swift
Labels: settings, Bookmarks

#1035 Share Extension: copy files through shared group container
  Share Extension/Share Extension.entitlements
  Share Extension/ShareViewController.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/AppDelegate+UrlHandling.swift
Labels: Bug

#1028 Bookmarks: Improve some interactions when creating a bookmark from headphones
  podcasts.xcodeproj/project.pbxproj
  podcasts/Bookmarks/Player/BookmarksPlayerTabController.swift
  podcasts/MainTabBarController.swift
  podcasts/MiniPlayerViewController+Positioning.swift
  podcasts/SceneHelper.swift
  podcasts/Strings+Generated.swift
  podcasts/UIViewController+Presenting.swift
  podcasts/en.lproj/Localizable.strings
Labels: CarPlay, Bookmarks

#1041 Bookmarks: Fix swipe to dismiss on the episode detail view
  Modules/Utils/Sources/PocketCastsUtils/Extensions/UI/DismissableNestedScrollView.swift
  podcasts/EpisodeDetailViewController.xib
Labels: Bookmarks

#1053 Bookmarks: Fixes an error that can happen when syncing bookmarks
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Bookmarks/BookmarkDataManager.swift
  Modules/DataModel/Tests/PocketCastsDataModelTests/BookmarkDataManagerTests.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+FullSync.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+ServerChanges.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask.swift
Labels: sync, Bookmarks

#1052 Bookmarks: Add episode sort to the podcast list
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Bookmarks/BookmarkDataManager.swift
  Modules/DataModel/Tests/PocketCastsDataModelTests/BookmarkDataManagerTests.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+FullSync.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+ServerChanges.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask.swift
  podcasts/BookmarkManager.swift
  podcasts/Bookmarks/Bookmarks+Analytics.swift
  podcasts/Bookmarks/List/BookmarkEpisodeListViewModel.swift
  podcasts/Bookmarks/List/BookmarkListViewModel.swift
  podcasts/Bookmarks/List/BookmarkPodcastListViewModel.swift
  podcasts/Constants.swift
Labels: Bookmarks

#1051 Bookmarks: Adds Tracks
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Bookmarks/BookmarkDataManager.swift
  Modules/DataModel/Tests/PocketCastsDataModelTests/BookmarkDataManagerTests.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+FullSync.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+ServerChanges.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/Analytics/Analytics.swift
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/Analytics/Helpers/AnalyticsCoordinator.swift
  podcasts/BookmarkManager.swift
  podcasts/Bookmarks/Bookmarks+Analytics.swift
  podcasts/Bookmarks/Editing/BookmarkEditTitleViewController.swift
  podcasts/Bookmarks/Editing/BookmarkEditViewModel.swift
  podcasts/Bookmarks/Episode/BookmarkEpisodeListController.swift
  podcasts/Bookmarks/List/BookmarkEpisodeListViewModel.swift
  podcasts/Bookmarks/List/BookmarkListViewModel.swift
  podcasts/Bookmarks/List/BookmarkPodcastListViewModel.swift
  podcasts/Bookmarks/List/BookmarksListView.swift
  podcasts/Bookmarks/Player/BookmarksPlayerTabController.swift
  podcasts/Bookmarks/Podcast/BookmarksPodcastListController.swift
  podcasts/Common SwiftUI/BookmarksLockedStateView.swift
  podcasts/Constants.swift
  podcasts/EpisodeDetailViewController.swift
  podcasts/HeadphoneSettingsViewController.swift
  podcasts/MainTabBarController.swift
  podcasts/NowPlayingPlayerItemViewController+Shelf.swift
  podcasts/PlaybackManager.swift
  podcasts/PodcastViewController.swift
Labels: analytics, Bookmarks

#1050 Bookmarks: Locks the settings and other UI actions
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Bookmarks/BookmarkDataManager.swift
  Modules/DataModel/Tests/PocketCastsDataModelTests/BookmarkDataManagerTests.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+FullSync.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+ServerChanges.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/Analytics/Analytics.swift
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/Analytics/Helpers/AnalyticsCoordinator.swift
  podcasts/BookmarkManager.swift
  podcasts/Bookmarks/Bookmarks+Analytics.swift
  podcasts/Bookmarks/Editing/BookmarkEditTitleViewController.swift
  podcasts/Bookmarks/Editing/BookmarkEditViewModel.swift
  podcasts/Bookmarks/Episode/BookmarkEpisodeListController.swift
  podcasts/Bookmarks/List/BookmarkEpisodeListViewModel.swift
  podcasts/Bookmarks/List/BookmarkListViewModel.swift
  podcasts/Bookmarks/List/BookmarkPodcastListViewModel.swift
  podcasts/Bookmarks/List/BookmarksListView.swift
  podcasts/Bookmarks/Player/BookmarksPlayerTabController.swift
  podcasts/Bookmarks/Podcast/BookmarksPodcastListController.swift
  podcasts/Common SwiftUI/BookmarksLockedStateView.swift
  podcasts/Constants.swift
  podcasts/EpisodeDetailViewController.swift
  podcasts/HeadphoneSettingsViewController.swift
  podcasts/MainTabBarController.swift
  podcasts/NowPlayingPlayerItemViewController+Shelf.swift
  podcasts/OptionAction.swift
  podcasts/PaidFeature.swift
  podcasts/PlaybackManager.swift
  podcasts/PodcastViewController.swift
  podcasts/Settings.swift
  podcasts/ShelfActionsViewController+Table.swift
  podcasts/SimpleActionView.swift
  podcasts/Unlockable/Settings+Unlockable.swift
  podcasts/Unlockable/Unlockable+Bookmarks.swift
  podcasts/Unlockable/Unlockable.swift
Labels: Bookmarks

#1046 Bookmarks: Shows the feature locked state in the bookmarks list
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Bookmarks/BookmarkDataManager.swift
  Modules/DataModel/Tests/PocketCastsDataModelTests/BookmarkDataManagerTests.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+FullSync.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+ServerChanges.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/Analytics/Analytics.swift
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/Analytics/Helpers/AnalyticsCoordinator.swift
  podcasts/BookmarkManager.swift
  podcasts/Bookmarks/Bookmarks+Analytics.swift
  podcasts/Bookmarks/Editing/BookmarkEditTitleViewController.swift
  podcasts/Bookmarks/Editing/BookmarkEditViewModel.swift
  podcasts/Bookmarks/Episode/BookmarkEpisodeListController.swift
  podcasts/Bookmarks/List/BookmarkEpisodeListViewModel.swift
  podcasts/Bookmarks/List/BookmarkListViewModel.swift
  podcasts/Bookmarks/List/BookmarkPodcastListViewModel.swift
  podcasts/Bookmarks/List/BookmarksListView.swift
  podcasts/Bookmarks/Player/BookmarksPlayerTabController.swift
  podcasts/Bookmarks/Podcast/BookmarksPodcastListController.swift
  podcasts/Common SwiftUI/BookmarksLockedStateView.swift
  podcasts/CommonImages.xcassets/Pocket Casts Logo/pocket-casts-text-logo-horizontal.imageset/Contents.json
  podcasts/CommonImages.xcassets/Pocket Casts Logo/pocket-casts-text-logo-horizontal.imageset/pocket-casts-text-logo-horizontal.pdf
  podcasts/Constants.swift
  podcasts/EpisodeCell.swift
  podcasts/EpisodeDetailViewController.swift
  podcasts/HeadphoneSettingsViewController.swift
  podcasts/MainTabBarController.swift
  podcasts/NowPlayingPlayerItemViewController+Shelf.swift
  podcasts/Onboarding/Models/PlusAccountPromptViewModel.swift
  podcasts/Onboarding/Plus/Account Prompt/PlusAccountUpgradePrompt.swift
  podcasts/OptionAction.swift
  podcasts/PaidFeature.swift
  podcasts/PlaybackManager.swift
  podcasts/PodcastViewController.swift
  podcasts/Profile - SwiftUI/Common Views/SubscriptionBadge.swift
  podcasts/Settings.swift
  podcasts/ShelfActionsViewController+Table.swift
  podcasts/SimpleActionView.swift
  podcasts/Strings+Generated.swift
  podcasts/Unlockable/Settings+Unlockable.swift
  podcasts/Unlockable/Unlockable+Bookmarks.swift
  podcasts/Unlockable/Unlockable.swift
  podcasts/en.lproj/Localizable.strings
Labels: Bookmarks

#1043 Bookmarks: Adds a way to unlock features for subscription tiers
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Bookmarks/BookmarkDataManager.swift
  Modules/DataModel/Tests/PocketCastsDataModelTests/BookmarkDataManagerTests.swift
  Modules/Server/Sources/PocketCastsServer/Public/SubscriptionHelper.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+FullSync.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+ServerChanges.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask.swift
  PocketCastsTests/Tests/Utilities/PaidFeatureTests.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/Analytics/Analytics.swift
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/Analytics/Helpers/AnalyticsCoordinator.swift
  podcasts/BookmarkManager.swift
  podcasts/Bookmarks/Bookmarks+Analytics.swift
  podcasts/Bookmarks/Editing/BookmarkEditTitleViewController.swift
  podcasts/Bookmarks/Editing/BookmarkEditViewModel.swift
  podcasts/Bookmarks/Episode/BookmarkEpisodeListController.swift
  podcasts/Bookmarks/List/BookmarkEpisodeListViewModel.swift
  podcasts/Bookmarks/List/BookmarkListViewModel.swift
  podcasts/Bookmarks/List/BookmarkPodcastListViewModel.swift
  podcasts/Bookmarks/List/BookmarksListView.swift
  podcasts/Bookmarks/Player/BookmarksPlayerTabController.swift
  podcasts/Bookmarks/Podcast/BookmarksPodcastListController.swift
  podcasts/Common SwiftUI/BookmarksLockedStateView.swift
  podcasts/CommonImages.xcassets/Pocket Casts Logo/pocket-casts-text-logo-horizontal.imageset/Contents.json
  podcasts/CommonImages.xcassets/Pocket Casts Logo/pocket-casts-text-logo-horizontal.imageset/pocket-casts-text-logo-horizontal.pdf
  podcasts/Constants.swift
  podcasts/EpisodeCell.swift
  podcasts/EpisodeDetailViewController.swift
  podcasts/HeadphoneSettingsViewController.swift
  podcasts/MainTabBarController.swift
  podcasts/NowPlayingPlayerItemViewController+Shelf.swift
  podcasts/Onboarding/Models/PlusAccountPromptViewModel.swift
  podcasts/Onboarding/Plus/Account Prompt/PlusAccountUpgradePrompt.swift
  podcasts/OptionAction.swift
  podcasts/PaidFeature.swift
  podcasts/PlaybackManager.swift
  podcasts/PodcastViewController.swift
  podcasts/Profile - SwiftUI/Common Views/SubscriptionBadge.swift
  podcasts/Settings.swift
  podcasts/ShelfActionsViewController+Table.swift
  podcasts/SimpleActionView.swift
  podcasts/Strings+Generated.swift
  podcasts/Unlockable/Settings+Unlockable.swift
  podcasts/Unlockable/Unlockable+Bookmarks.swift
  podcasts/Unlockable/Unlockable.swift
  podcasts/en.lproj/Localizable.strings
Labels: Bookmarks

#1055 EffectsPlayer: add different setup mechanisms
  podcasts/AppDelegate.swift
  podcasts/Constants.swift
  podcasts/EffectsPlayer.swift
  podcasts/PlaybackManager.swift
  podcasts/Settings.swift
Labels: playback, crash

#1062 Always specify the bookmark modified values when syncing
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+LocalChanges.swift
Labels: Bookmarks

#1066 Bookmarks: Update the edit title view theme
  podcasts/Bookmarks/Editing/BookmarkEditTitleView.swift
  podcasts/Bookmarks/Editing/BookmarkEditTitleViewController.swift
  podcasts/Bookmarks/Editing/BookmarkEditViewModel.swift
  podcasts/PlayerColorHelper.swift
Labels: Bookmarks

#1065 Bookmarks: Refresh the user files when bookmarks change
  podcasts/BookmarkManager.swift
  podcasts/Bookmarks/List/BookmarkListViewModel.swift
  podcasts/PlayerTabsView.swift
  podcasts/UploadedViewController.swift
Labels: Bookmarks

#1074 Add Headphone Controls to the release notes
  CHANGELOG.md
Labels: settings, Bookmarks

#1059 Autoplay: add missing tracks
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/AutoplayHelper.swift
  podcasts/PlaybackManager.swift
Labels: analytics

#1067 Bookmarks: Update the player tab style
  podcasts/Constants.swift
  podcasts/PlayerContainerViewController+Scroll.swift
  podcasts/PlayerContainerViewController.swift
  podcasts/PlayerContainerViewController.xib
  podcasts/PlayerTabsView.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: Bookmarks

#1068 Bookmarks: Shows the edit screen if the bookmark that was created already existed at the current time
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Bookmarks/BookmarkDataManager.swift
  podcasts/BookmarkManager.swift
  podcasts/Bookmarks/Player/BookmarksPlayerTabController.swift
Labels: Bookmarks

#1069 Bookmarks: Misc fixes
  podcasts/Bookmarks/Episode/BookmarkEpisodeListController.swift
  podcasts/Bookmarks/List/BookmarkListViewModel.swift
  podcasts/Bookmarks/Player/BookmarksPlayerTabController.swift
  podcasts/Bookmarks/Podcast/BookmarksPodcastListController.swift
  podcasts/Common SwiftUI/BookmarksLockedStateView.swift
  podcasts/Constants.swift
  podcasts/Enumerations.swift
  podcasts/HeadphoneSettingsViewController.swift
  podcasts/OptionAction.swift
  podcasts/Settings.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: Bookmarks

#1076 Bookmarks: Play the tone when a bookmark is created
  podcasts.xcodeproj/project.pbxproj
  podcasts/BookmarkManager.swift
  podcasts/HeadphoneSettingsViewController.swift
  podcasts/PlaybackManager.swift
  podcasts/Resources/bookmark-creation-sound.wav
  podcasts/Settings.swift
Labels: Bookmarks

#1077 Bookmarks: Allow specifying different values when beta testing
  Modules/Utils/Sources/PocketCastsUtils/General/BuildEnvironment.swift
  PocketCastsTests/Tests/Utilities/PaidFeatureTests.swift
  podcasts/PaidFeature.swift
Labels: Bookmarks

#1080 Settings: Remove unused settings manager and code
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/UserSettingsManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/Util/DatabaseHelper.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/UserSetting.swift
  podcasts/Settings.swift
Labels: settings
