Repository Automattic/pocket-casts-ios, pull requests merged in 2023-03, with the labels that each got.

#748 Added padding to no notes error label
  podcasts/EpisodeDetailViewController.xib
Labels: UI Related

#756 Discover Carousel: fix autoscroll running while the feature flag is false
  podcasts/FeaturedSummaryViewController.swift
  podcasts/ThemeableCollectionView.swift
Labels: Discover

#762 Search: fix search crash
  podcasts/PodcastListViewController+Search.swift
Labels: crash, Search Improvements

#755 Discover Carousel: prepare it to receive Sponsored podcasts
  Modules/Server/Sources/PocketCastsServer/Public/Sharing/Structs/ServerStructs.swift
  podcasts/ArrayExtension.swift
  podcasts/DiscoverFeaturedView.swift
  podcasts/FeaturedCollectionViewCell.swift
  podcasts/FeaturedSummaryViewController.swift
  podcasts/FeaturedTableViewCell.swift
Labels: Discover

#757 Discover Carousel: add tracks for sponsored podcasts
  podcasts/AnalyticsHelper.swift
  podcasts/FeaturedSummaryViewController.swift
Labels: Discover

#766 Search Improvements: show podcasts and episodes
  Modules/Server/Sources/PocketCastsServer/Public/Search/EpisodeSearchTask.swift
  Modules/Server/Sources/PocketCastsServer/Public/Search/PodcastSearchTask.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/DiscoverViewController+Search.swift
  podcasts/End of Year/Stories/Views/PodcastCover.swift
  podcasts/New Search/Model/SearchResultsModel.swift
  podcasts/New Search/SearchResultsViewController.swift
  podcasts/New Search/Views/Results/PodcastCarouselView.swift
  podcasts/New Search/Views/Results/SearchEpisodeCell.swift
  podcasts/New Search/Views/Results/SearchResultsView.swift
  podcasts/New Search/Views/SearchView.swift
  podcasts/PodcastListViewController+Search.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: Search Improvements

#769 Search Improvements: add interactions for podcasts/episodes
  Modules/Server/Sources/PocketCastsServer/Public/Sharing/Structs/ServerStructs.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/DiscoverViewController+Search.swift
  podcasts/EpisodeLoadingController.swift
  podcasts/MainTabBarController.swift
  podcasts/NavigationManager.swift
  podcasts/NavigationProtocol.swift
  podcasts/New Search/Views/Results/PodcastCarouselView.swift
  podcasts/New Search/Views/Results/SearchEpisodeCell.swift
  podcasts/New Search/Views/Results/SearchResultsView.swift
  podcasts/New Search/Views/Results/SubscribeButtonView.swift
  podcasts/New Search/Views/Results/ThemeableListHeader.swift
  podcasts/PodcastListViewController+Search.swift
  podcasts/Strings+Generated.swift
  podcasts/Styles.swift
  podcasts/en.lproj/Localizable.strings
Labels: Search Improvements

#770 Search Improvements: search history
  Modules/Server/Sources/PocketCastsServer/Public/Search/EpisodeSearchTask.swift
  Modules/Server/Sources/PocketCastsServer/Public/Search/PodcastSearchTask.swift
  PocketCastsTests/Tests/New Search/SearchHistoryModelTests.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/Constants.swift
  podcasts/New Search/Model/SearchHistoryModel.swift
  podcasts/New Search/SearchResultsViewController.swift
  podcasts/New Search/Views/History/SearchHistoryCell.swift
  podcasts/New Search/Views/History/SearchHistoryView.swift
  podcasts/New Search/Views/Results/PodcastCarouselView.swift
  podcasts/New Search/Views/Results/SearchEpisodeCell.swift
  podcasts/New Search/Views/Results/SearchResultsView.swift
  podcasts/New Search/Views/Results/ThemeableListHeader.swift
  podcasts/New Search/Views/SearchView.swift
  podcasts/PCSearchBarController.swift
Labels: Search Improvements

#771 Search Improvements: show podcasts and episodes in a standalone screen
  podcasts.xcodeproj/project.pbxproj
  podcasts/MainTabBarController.swift
  podcasts/New Search/Views/Results/PodcastCarouselView.swift
  podcasts/New Search/Views/Results/RoundedSubscribeButtonView.swift
  podcasts/New Search/Views/Results/SearchEpisodeCell.swift
  podcasts/New Search/Views/Results/SearchResultCell.swift
  podcasts/New Search/Views/Results/SearchResultsListView.swift
  podcasts/New Search/Views/Results/SearchResultsView.swift
  podcasts/New Search/Views/Results/SubscribeButtonView.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: Search Improvements

#773 Search Improvements: show local podcasts and folders
  Modules/Server/Sources/PocketCastsServer/Public/Search/PodcastSearchTask.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sharing/Structs/ServerStructs.swift
  podcasts/FolderPreviewWrapper.swift
  podcasts/MainTabBarController.swift
  podcasts/NavigationManager.swift
  podcasts/NavigationProtocol.swift
  podcasts/New Search/Model/SearchHistoryModel.swift
  podcasts/New Search/Model/SearchResultsModel.swift
  podcasts/New Search/SearchResultsViewController.swift
  podcasts/New Search/Views/History/SearchHistoryCell.swift
  podcasts/New Search/Views/Results/PodcastCarouselView.swift
  podcasts/New Search/Views/Results/SearchResultCell.swift
  podcasts/New Search/Views/Results/SearchResultsView.swift
Labels: Search Improvements

#775 Add pinyin sorting to podcast titles in Chinese
  Modules/Utils/Sources/PocketCastsUtils/Sorting/PodcastSorter.swift
  Modules/Utils/Tests/PocketCastsUtilsTests/PodcastSorterTests.swift
Labels: Bug

#778 Search Improvements: UI refinements
  podcasts.xcodeproj/project.pbxproj
  podcasts/New Search/SearchResultsViewController.swift
  podcasts/New Search/Views/History/SearchHistoryCell.swift
  podcasts/New Search/Views/History/SearchHistoryView.swift
  podcasts/New Search/Views/Results/PodcastCarouselView.swift
  podcasts/New Search/Views/Results/SearchListView.swift
  podcasts/New Search/Views/Results/SearchResultCell.swift
  podcasts/New Search/Views/Results/SearchResultsListView.swift
  podcasts/New Search/Views/Results/SearchResultsView.swift
  podcasts/New Search/Views/Results/ThemeableListHeader.swift
  podcasts/New Search/Views/SearchView.swift
  podcasts/PCNavigationController.swift
  podcasts/PCSearchBarController.swift
  podcasts/Strings+Generated.swift
  podcasts/SwiftUI/DismissKeyboardOnScroll.swift
  podcasts/SwiftUI/MiniPlayerPaddingModifier.swift
  podcasts/en.lproj/Localizable.strings
Labels: Search Improvements

#780 Search Improvements: fix some issues
  Modules/Server/Sources/PocketCastsServer/Public/Refresh/MainServerHandler.swift
  Modules/Server/Sources/PocketCastsServer/Public/Search/PodcastSearchTask.swift
  podcasts/MainTabBarController.swift
  podcasts/NavigationManager.swift
  podcasts/NavigationProtocol.swift
  podcasts/New Search/Model/SearchHistoryModel.swift
  podcasts/New Search/Model/SearchResultsModel.swift
  podcasts/New Search/SearchResultsViewController.swift
  podcasts/New Search/Views/Results/PodcastCarouselView.swift
  podcasts/New Search/Views/Results/SearchResultCell.swift
  podcasts/New Search/Views/Results/SearchResultsListView.swift
  podcasts/New Search/Views/Results/SearchResultsView.swift
Labels: Search Improvements

#790 Enabling autoscrolling of discover carousel
  CHANGELOG.md
  podcasts/FeatureFlag.swift
Labels: UI Related, Discover

#795 Search Improvements: fix folders updating, history saving and duplicated podcasts
  Modules/Server/Sources/PocketCastsServer/Public/Search/PodcastSearchTask.swift
  podcasts/Constants.swift
  podcasts/EditFolderView.swift
  podcasts/New Search/Model/SearchHistoryModel.swift
  podcasts/New Search/SearchResultsViewController.swift
  podcasts/New Search/Views/History/SearchHistoryCell.swift
  podcasts/New Search/Views/History/SearchHistoryView.swift
  podcasts/PodcastListViewController+Search.swift
Labels: Search Improvements

#796 Search Improvements: enable new search
  CHANGELOG.md
  podcasts/FeatureFlag.swift
Labels: Search Improvements
