Repository Automattic/pocket-casts-ios, pull requests merged in 2024-03, with the labels that each got.

#1492 7.58 Release: Merge changes from 7.58.0.3 into `trunk`
  config/Version.xcconfig
  podcasts/ca.lproj/Localizable.strings
  podcasts/de.lproj/Localizable.strings
  podcasts/es-MX.lproj/Localizable.strings
  podcasts/es.lproj/Localizable.strings
  podcasts/fr-CA.lproj/Localizable.strings
  podcasts/fr.lproj/Localizable.strings
  podcasts/it.lproj/Localizable.strings
  podcasts/ja.lproj/Localizable.strings
  podcasts/nl.lproj/Localizable.strings
  podcasts/pt-BR.lproj/Localizable.strings
  podcasts/ru.lproj/Localizable.strings
  podcasts/sv.lproj/Localizable.strings
  podcasts/zh-Hans.lproj/Localizable.strings
  podcasts/zh-Hant.lproj/Localizable.strings
Labels: Releases

#1491 Settings Sync: Logging
  Modules/Server/Sources/PocketCastsServer/Public/Sync/Diffable+Logging.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncSettingsTask.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+FullSync.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+LocalChanges.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+ServerChanges.swift
Labels: settings

#1496 Add `episode_download_failed` Tracks log
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/Analytics/Helpers/AnalyticsEpisodeHelper.swift
  podcasts/DownloadManager+URLSessionDelegate.swift
Labels: analytics

#1498 [Deselect Chapters] Disable for user files
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/BaseEpisode.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Episode.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/UserEpisode.swift
  podcasts/ChaptersViewController+Table.swift
Labels: Deselecting Chapters

#1493 7.59 Release: Merge changes from 7.59.0.0 into `trunk`
  CHANGELOG.md
  config/Version.xcconfig
  fastlane/Frozen.strings
  podcasts/Resources/release_notes.txt
Labels: Releases

#1497 Register for Push Notifications on each app launch
  CHANGELOG.md
  podcasts/NotificationsHelper.swift
Labels: Bug

#1501 Download Issues: Log stale downloads
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/EpisodeDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/AppDelegate+Analytics.swift
  podcasts/AppDelegate.swift
Labels: analytics

#1499 Download Issues: Log failure metrics
  podcasts.xcodeproj/project.pbxproj
  podcasts/Analytics/Helpers/AnalyticsEpisodeHelper.swift
  podcasts/DownloadManager+Logging.swift
  podcasts/DownloadManager+URLSessionDelegate.swift
  podcasts/DownloadManager.swift
Labels: analytics

#1500 Feature - Profile Bookmarks
  CHANGELOG.md
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Bookmarks/BookmarkDataManager.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/BookmarkManager.swift
  podcasts/Bookmarks/Bookmarks+Analytics.swift
  podcasts/Bookmarks/List/BookmarkListViewModel.swift
  podcasts/Bookmarks/List/BookmarkPodcastListViewModel.swift
  podcasts/Bookmarks/List/BookmarkRow.swift
  podcasts/Bookmarks/List/BookmarksListView.swift
  podcasts/Bookmarks/Profile/BookmarksProfileListController.swift
  podcasts/Bookmarks/Profile/BookmarksProfileListView.swift
  podcasts/Constants.swift
  podcasts/Enumerations.swift
  podcasts/ProfileViewController.swift
  podcasts/Settings.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: Bookmarks

#1503 7.59 Release: Merge changes from 7.59.0.1 into `trunk`
  CHANGELOG.md
  config/Version.xcconfig
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/Analytics/Helpers/AnalyticsEpisodeHelper.swift
  podcasts/DownloadManager+URLSessionDelegate.swift
  podcasts/NotificationsHelper.swift
  podcasts/ca.lproj/Localizable.strings
  podcasts/de.lproj/Localizable.strings
  podcasts/es-MX.lproj/Localizable.strings
  podcasts/es.lproj/Localizable.strings
  podcasts/fr-CA.lproj/Localizable.strings
  podcasts/fr.lproj/Localizable.strings
  podcasts/it.lproj/Localizable.strings
  podcasts/ja.lproj/Localizable.strings
  podcasts/nl.lproj/Localizable.strings
  podcasts/pt-BR.lproj/Localizable.strings
  podcasts/ru.lproj/Localizable.strings
  podcasts/sv.lproj/Localizable.strings
  podcasts/zh-Hans.lproj/Localizable.strings
  podcasts/zh-Hant.lproj/Localizable.strings
Labels: Releases

#1507 Settings Sync: `new_settings_storage` Feature Flag
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/AutoAddQueueDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/PodcastDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Podcast+Settings.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Podcast.swift
  Modules/DataModel/Tests/PocketCastsDataModelTests/AutoAddCandidatesDataManagerTests.swift
  Modules/Server/Sources/PocketCastsServer/Public/ServerSettings.swift
  Modules/Server/Sources/PocketCastsServer/Public/SubscriptionHelper.swift
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
  Pocket Casts Watch App Extension/PodcastEpisodeListViewModel.swift
  PocketCastsTests/Tests/ThemeTests.swift
  PocketCastsTests/Tests/Utilities/SettingsTests.swift
  podcasts/AppDelegate+Defaults.swift
  podcasts/AppDelegate.swift
  podcasts/EpisodeListSearchController.swift
  podcasts/GeneralSettingsViewController.swift
  podcasts/MiniPlayerViewController.swift
  podcasts/PlaybackCatchUpHelper.swift
  podcasts/PlaybackEffects.swift
  podcasts/PlaybackManager.swift
  podcasts/Podcast+Formatting.swift
  podcasts/PodcastEffectsViewController+Table.swift
  podcasts/Settings.swift
  podcasts/Theme.swift
Labels: settings

#1511 Remove bookmark if it's a new bookmark and user pressed dismiss
  podcasts/Bookmarks/Editing/BookmarkEditTitleViewController.swift
  podcasts/Bookmarks/Player/BookmarksPlayerTabController.swift
  podcasts/MainTabBarController.swift
Labels: Bug, Bookmarks

#1512 7.59 Release: Merge changes from 7.59.0.2 into `trunk`
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/EpisodeDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  config/Version.xcconfig
  podcasts.xcodeproj/project.pbxproj
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/Analytics/Helpers/AnalyticsEpisodeHelper.swift
  podcasts/AppDelegate+Analytics.swift
  podcasts/AppDelegate.swift
  podcasts/DownloadManager+Logging.swift
  podcasts/DownloadManager+URLSessionDelegate.swift
  podcasts/DownloadManager.swift
  podcasts/ca.lproj/Localizable.strings
  podcasts/de.lproj/Localizable.strings
  podcasts/es-MX.lproj/Localizable.strings
  podcasts/es.lproj/Localizable.strings
  podcasts/fr-CA.lproj/Localizable.strings
  podcasts/fr.lproj/Localizable.strings
  podcasts/it.lproj/Localizable.strings
  podcasts/ja.lproj/Localizable.strings
  podcasts/nl.lproj/Localizable.strings
  podcasts/pt-BR.lproj/Localizable.strings
  podcasts/ru.lproj/Localizable.strings
  podcasts/sv.lproj/Localizable.strings
  podcasts/zh-Hans.lproj/Localizable.strings
  podcasts/zh-Hant.lproj/Localizable.strings
Labels: Releases

#1509 Profile bookmark sync sort option
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Enums.swift
  Modules/Server/Sources/PocketCastsServer/Private/Protobuffer/api.pb.swift
  Modules/Server/Sources/PocketCastsServer/Public/AppSettings.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncSettingsTask.swift
  podcasts/AppSettings+ImportUserDefaults.swift
  podcasts/Enumerations.swift
  podcasts/Settings.swift
Labels: settings, sync, Bookmarks

#1506 Settings Sync: Remove unused shouldUseNewSettingsSync param
  Modules/Server/Sources/PocketCastsServer/Public/API/ApiServerHandler.swift
  Modules/Server/Sources/PocketCastsServer/Public/Refresh/RefreshOperation.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncManager.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncSettingsTask.swift
  Modules/Server/Tests/PocketCastsServerTests/SyncSettingsTaskTests.swift
  podcasts/AppDelegate.swift
Labels: settings

#1521 Settings Sync: Use global synced settings properties
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncSettingsTask.swift
Labels: settings

#1480 [Deselect Chapters] Sync
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/EpisodeDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/Util/DatabaseHelper.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Enums.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/BaseEpisode.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Episode+fromDatabase.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Episode.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/UserEpisode.swift
  Modules/Server/Sources/PocketCastsServer/Private/API Tasks/RetrieveEpisodesTask.swift
  Modules/Server/Sources/PocketCastsServer/Private/Protobuffer/api.pb.swift
  Modules/Server/Sources/PocketCastsServer/Public/DataConverter.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sharing/Structs/ServerStructs.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/ServerSyncDelegateProtocol.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+LocalChanges.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+ServerChanges.swift
  Pocket Casts Watch App/WatchSyncManager+ServerSyncDelegate.swift
  podcasts/PlaybackManager.swift
  podcasts/PlayerChapterCell.swift
  podcasts/ServerSyncManager.swift
Labels: Deselecting Chapters

#1518 Settings Sync: Revert "Add General Auto-Download settings"
  Modules/Server/Sources/PocketCastsServer/Public/AppSettings.swift
  Modules/Server/Sources/PocketCastsServer/Public/ServerSettings.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncSettingsTask.swift
  podcasts/AppSettings+ImportUserDefaults.swift
  podcasts/Settings.swift
Labels: settings

#1523 [1366] Add internal Privacy Manifest
  Pocket Casts Watch App/PrivacyInfo.xcprivacy
  PodcastsIntents/PrivacyInfo.xcprivacy
  WidgetExtension/PrivacyInfo.xcprivacy
  podcasts.xcodeproj/project.pbxproj
  podcasts/PrivacyInfo.xcprivacy
Labels: enhancement

#1517 7.59 Release: Merge changes from 7.59.0.3 into `trunk`
  config/Version.xcconfig
  podcasts/ca.lproj/Localizable.strings
  podcasts/de.lproj/Localizable.strings
  podcasts/es-MX.lproj/Localizable.strings
  podcasts/es.lproj/Localizable.strings
  podcasts/fr-CA.lproj/Localizable.strings
  podcasts/fr.lproj/Localizable.strings
  podcasts/it.lproj/Localizable.strings
  podcasts/ja.lproj/Localizable.strings
  podcasts/pt-BR.lproj/Localizable.strings
  podcasts/ru.lproj/Localizable.strings
  podcasts/sv.lproj/Localizable.strings
  podcasts/zh-Hans.lproj/Localizable.strings
Labels: Releases

#1524 Refactor Filters List view from storyboard to swiftui view
  Pocket Casts Watch App/Base.lproj/Interface.storyboard
  Pocket Casts Watch App/FiltersInterfaceController.swift
  Pocket Casts Watch App/FiltersListView.swift
  Pocket Casts Watch App/FiltersListViewModel.swift
  Pocket Casts Watch App/InterfaceController.swift
  Pocket Casts Watch App/MenuRow.swift
  Pocket Casts Watch App/PhoneSourceViewModel.swift
  Pocket Casts Watch App/PlaySourceViewModel.swift
  Pocket Casts Watch App/WatchHostingController.swift
  Pocket Casts Watch App/WatchInterfaceType.swift
  Pocket Casts Watch App/WatchSourceViewModel.swift
  podcasts.xcodeproj/project.pbxproj
Labels: watchOS, Refactor

#1513 [928] Visually mark played episodes in search results
  CHANGELOG.md
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/EpisodeDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  podcasts/New Search/Model/SearchResultsModel.swift
  podcasts/New Search/Views/Results/SearchResultCell.swift
  podcasts/New Search/Views/Results/SearchResultsView.swift
Labels: enhancement

#1525 [Deselect Chapters] Enable announcements and change remote feature flag key
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
  podcasts/PaidFeature.swift
  podcasts/Whats New/Announcements.swift
  podcasts/Whats New/DeselectChaptersAnnouncementViewModel.swift
Labels: Deselecting Chapters

#1537 Fix changelog
  CHANGELOG.md
Labels: Bug

#1532 Settings Sync: Add autoplaylastlistuuid setting
  Modules/Server/Sources/PocketCastsServer/Public/AppSettings.swift
  Modules/Server/Sources/PocketCastsServer/Public/ServerEnums.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncSettingsTask.swift
  podcasts/AppSettings+ImportUserDefaults.swift
  podcasts/AutoplayHelper.swift
Labels: settings

#1534 Settings Sync: App badge
  Modules/Server/Sources/PocketCastsServer/Public/AppSettings.swift
  Modules/Server/Sources/PocketCastsServer/Public/ServerEnums.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncSettingsTask.swift
  podcasts/AppSettings+ImportUserDefaults.swift
  podcasts/BadgeHelper.swift
  podcasts/BadgeSettingsViewController.swift
  podcasts/Enumerations.swift
  podcasts/NotificationsViewController.swift
  podcasts/Settings.swift
Labels: settings

#1533 Settings Sync: Show Archived setting
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Podcast+Settings.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/PodcastSettings.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+FullSync.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+LocalChanges.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+ServerChanges.swift
  podcasts/DataManager+Import.swift
  podcasts/EpisodesDataManager.swift
  podcasts/PodcastViewController+Swipe.swift
  podcasts/PodcastViewController.swift
Labels: settings

#1535 Settings Sync: Add filesSortOrder setting
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/UserEpisodeDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Enums.swift
  Modules/Server/Sources/PocketCastsServer/Public/AppSettings.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncSettingsTask.swift
  Pocket Casts Watch App/SortOption.swift
  podcasts/AppSettings+ImportUserDefaults.swift
  podcasts/DataModel+Strings.swift
  podcasts/Settings.swift
  podcasts/Strings+Generated.swift
  podcasts/UploadedViewController.swift
  podcasts/en.lproj/Localizable.strings
Labels: settings

#1529 Player: fix the player getting stuck
  CHANGELOG.md
  podcasts/MiniPlayerViewController+Positioning.swift
Labels: Bug, Player

#1539 7.60 Release: Merge changes from 7.60.0.0 into `trunk`
  CHANGELOG.md
  config/Version.xcconfig
  fastlane/Frozen.strings
  podcasts/Resources/release_notes.txt
Labels: Releases

#1437 Settings Sync: Podcast notification
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/PodcastDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Podcast+Settings.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Podcast+fromDatabase.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/PodcastSettings.swift
  Modules/Server/Sources/PocketCastsServer/Public/AppSettings.swift
  Modules/Server/Sources/PocketCastsServer/Public/CodableStore.swift
  Modules/Server/Sources/PocketCastsServer/Public/Refresh/MainServerHandler.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncSettingsTask.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+FullSync.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+LocalChanges.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+ServerChanges.swift
  Modules/Utils/Sources/PocketCastsUtils/Extensions/JSONCodable.swift
  Modules/Utils/Sources/PocketCastsUtils/General/ModifiedDate.swift
  podcasts/AppDelegate.swift
  podcasts/AppSettings+ImportUserDefaults.swift
  podcasts/Constants.swift
  podcasts/DataManager+Import.swift
  podcasts/DeveloperMenu.swift
  podcasts/NotificationsHelper.swift
  podcasts/NotificationsViewController.swift
  podcasts/PodcastManager+Delete.swift
  podcasts/PodcastManager.swift
  podcasts/PodcastSettingsViewController+Table.swift
  podcasts/ServerSyncManager.swift
Labels: settings

#1543 Settings Sync: Podcast Notification
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/PodcastDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Podcast+Settings.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Podcast+fromDatabase.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/PodcastSettings.swift
  Modules/Server/Sources/PocketCastsServer/Public/AppSettings.swift
  Modules/Server/Sources/PocketCastsServer/Public/CodableStore.swift
  Modules/Server/Sources/PocketCastsServer/Public/Refresh/MainServerHandler.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncSettingsTask.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+FullSync.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+LocalChanges.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+ServerChanges.swift
  Modules/Utils/Sources/PocketCastsUtils/Extensions/JSONCodable.swift
  Modules/Utils/Sources/PocketCastsUtils/General/ModifiedDate.swift
  podcasts/AppDelegate.swift
  podcasts/AppSettings+ImportUserDefaults.swift
  podcasts/Constants.swift
  podcasts/DataManager+Import.swift
  podcasts/DeveloperMenu.swift
  podcasts/NotificationsHelper.swift
  podcasts/NotificationsViewController.swift
  podcasts/PodcastManager+Delete.swift
  podcasts/PodcastManager.swift
  podcasts/PodcastSettingsViewController+Table.swift
  podcasts/ServerSyncManager.swift
Labels: settings

#1542 Settings Sync: Enum Cleanup
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Enums.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/PodcastSettings.swift
  Pocket Casts Watch App/PodcastEpisodeListViewModel.swift
  PocketCastsTests/Tests/Utilities/AppSettings+ImportUserDefaultsTests.swift
  PocketCastsTests/Tests/Utilities/PodcastSettings+ImportUserDefaultsTests.swift
  PocketCastsTests/Tests/Utilities/SettingsTests.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/AppSettings+ImportUserDefaults.swift
  podcasts/AutoplayHelper.swift
  podcasts/DataManager+Import.swift
  podcasts/Enumerations.swift
  podcasts/EpisodeListSearchController.swift
  podcasts/EpisodesDataManager.swift
  podcasts/Settings.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: settings

#1540 Add Membership Target for each Privacy manifest
  podcasts.xcodeproj/project.pbxproj
Labels: Bug

#1530 [1527] Convert EpisodeInfoHandler into an Actor
  Modules/Server/Sources/PocketCastsServer/Public/Cache/CacheServerHandler.swift
  Modules/Server/Sources/PocketCastsServer/Public/Cache/EpisodeInfoHandler.swift
Labels: enhancement

#1531 Refactor Main Interface storyboard to SwiftUI
  Pocket Casts Watch App/Base.lproj/Interface.storyboard
  Pocket Casts Watch App/DownloadListViewModel.swift
  Pocket Casts Watch App/FilesListView.swift
  Pocket Casts Watch App/InterfaceController.swift
  Pocket Casts Watch App/InterfaceView.swift
  Pocket Casts Watch App/MenuRow.swift
  Pocket Casts Watch App/NavigationManager.swift
  Pocket Casts Watch App/PhoneSourceViewModel.swift
  Pocket Casts Watch App/PlaySourceViewModel.swift
  Pocket Casts Watch App/PodcastsListView.swift
  Pocket Casts Watch App/SourceInterfaceController.swift
  Pocket Casts Watch App/TopLevelItemRowController.swift
  Pocket Casts Watch App/UpNextViewModel.swift
  Pocket Casts Watch App/WatchHostingController.swift
  Pocket Casts Watch App/WatchInterfaceType.swift
  Pocket Casts Watch App/WatchSourceViewModel.swift
  podcasts.xcodeproj/project.pbxproj
Labels: watchOS, Refactor

#1508 Settings Sync: Add remote feature flag for `settings_sync`
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+ServerChanges.swift
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
Labels: settings

#1550 7.60 Release: Merge changes from 7.60.0.1 into `trunk`
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Enums.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/PodcastSettings.swift
  Modules/Server/Sources/PocketCastsServer/Public/AppSettings.swift
  Modules/Server/Sources/PocketCastsServer/Public/ServerSettings.swift
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncTask+ServerChanges.swift
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
  Pocket Casts Watch App/PodcastEpisodeListViewModel.swift
  PocketCastsTests/Tests/Playback/AutoplayHelperTests.swift
  PocketCastsTests/Tests/Utilities/AppSettings+ImportUserDefaultsTests.swift
  PocketCastsTests/Tests/Utilities/PodcastSettings+ImportUserDefaultsTests.swift
  PocketCastsTests/Tests/Utilities/SettingsTests.swift
  config/Version.xcconfig
  fastlane/Frozen.strings
  podcasts.xcodeproj/project.pbxproj
  podcasts/AppSettings+ImportUserDefaults.swift
  podcasts/AutoplayHelper.swift
  podcasts/ChaptersViewController+Table.swift
  podcasts/DataManager+Import.swift
  podcasts/Enumerations.swift
  podcasts/EpisodeDetailViewController+ShowNotes.swift
  podcasts/EpisodeListSearchController.swift
  podcasts/EpisodesDataManager.swift
  podcasts/ExpandedCollectionViewController.swift
  podcasts/ExpandedEpisodeListViewController.swift
  podcasts/GeneralSettingsViewController.swift
  podcasts/NowPlayingPlayerItemViewController.swift
  podcasts/PlaybackEffects.swift
  podcasts/PlaybackManager.swift
  podcasts/Settings.swift
  podcasts/ShowNotesPlayerItemViewController.swift
  podcasts/Strings+Generated.swift
  podcasts/ca.lproj/Localizable.strings
  podcasts/de.lproj/Localizable.strings
  podcasts/en.lproj/Localizable.strings
  podcasts/es-MX.lproj/Localizable.strings
  podcasts/es.lproj/Localizable.strings
  podcasts/fr-CA.lproj/Localizable.strings
  podcasts/fr.lproj/Localizable.strings
  podcasts/it.lproj/Localizable.strings
  podcasts/ja.lproj/Localizable.strings
  podcasts/nl.lproj/Localizable.strings
  podcasts/pt-BR.lproj/Localizable.strings
  podcasts/ru.lproj/Localizable.strings
  podcasts/sv.lproj/Localizable.strings
  podcasts/zh-Hans.lproj/Localizable.strings
  podcasts/zh-Hant.lproj/Localizable.strings
Labels: Releases

#1551 Settings Sync: Active Theme + Layout bug fixes
  Modules/Server/Sources/PocketCastsServer/Public/AppSettings.swift
  podcasts/Theme.swift
Labels: settings

#1552 Disable the Synced Setting flag
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
Labels: settings

#1549 Deselect Chapters: prevent enabling it accidentally
  podcasts/ChaptersViewController.swift
Labels: Bug, Deselecting Chapters

#1553 7.60 Release: Merge changes from 7.60.0.2 into `trunk`
  Modules/Server/Sources/PocketCastsServer/Public/AppSettings.swift
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
  config/Version.xcconfig
  podcasts/ChaptersViewController.swift
  podcasts/Theme.swift
  podcasts/fr-CA.lproj/Localizable.strings
  podcasts/fr.lproj/Localizable.strings
Labels: Releases

#1559 Settings: fix podcast sort order being incorrect
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Enums.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Podcast+Settings.swift
  podcasts/EpisodeListSearchController.swift
Labels: Bug, settings

#1560 7.60 Release: Merge changes from 7.60.0.3 into `trunk`
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Enums.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Podcast+Settings.swift
  config/Version.xcconfig
  podcasts/EpisodeListSearchController.swift
  podcasts/fr-CA.lproj/Localizable.strings
  podcasts/fr.lproj/Localizable.strings
Labels: Releases

#1502 Fixes opening of shared link for episodes with the current position
  CHANGELOG.md
  podcasts/AppDelegate+UrlHandling.swift
  podcasts/AppDelegate.swift
  podcasts/EpisodeDetailViewController+Actions.swift
  podcasts/EpisodeDetailViewController.swift
  podcasts/EpisodeLoadingController.swift
  podcasts/MainTabBarController.swift
  podcasts/NavigationManager.swift
  podcasts/NavigationProtocol.swift
Labels: Bug

#1558 Bookmark share
  CHANGELOG.md
  podcasts/Bookmarks/Episode/BookmarkEpisodeListController.swift
  podcasts/Bookmarks/List/BookmarkListRouter.swift
  podcasts/Bookmarks/List/BookmarkListViewModel.swift
  podcasts/Bookmarks/List/BookmarksListView.swift
  podcasts/Bookmarks/Player/BookmarksPlayerTabController.swift
  podcasts/Bookmarks/Podcast/BookmarksPodcastListController.swift
  podcasts/Bookmarks/Profile/BookmarksProfileListController.swift
Labels: Bookmarks

#1554 Update project and CI for xcode15.3
  .buildkite/pipeline.yml
  .buildkite/release-builds.yml
  README.md
  podcasts.xcodeproj/project.pbxproj
  podcasts.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: continuous integration, Xcode update

#1561 Cleanup build warnings
  Modules/Server/Sources/PocketCastsServer/Public/Sync/SyncSettingsTask.swift
  Pocket Casts Watch App/Assets.xcassets/upnext-9-plus.imageset/Contents.json
  Pocket Casts Watch App/Assets.xcassets/upnext-9-plus.imageset/upnext-9+@2x.png
  Pocket Casts Watch App/NowPlayingControls.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/Bookmarks/List/BookmarkRow.swift
  podcasts/LocalizationHelpers.swift
  podcasts/PodcastSettingsViewController+Table.swift
  podcasts/PodcastViewController.swift
  podcasts/Settings.xcassets/settings-notifications.imageset/Contents.json
  podcasts/Settings.xcassets/settings-notifications.imageset/notifications@2x.png
  podcasts/Settings.xcassets/settings-notifications.imageset/notifications@3x.png
  podcasts/SwiftUI/Motion.swift
  podcasts/SwiftUI/UnderlineLinkTextView.swift
  podcasts/TimeSlider.swift
Labels: tooling

#1568 Deselect Chapters: fix header background and crash when tapping a chapter
  podcasts/ChapterManager.swift
  podcasts/ChaptersHeader.swift
  podcasts/ChaptersViewController.swift
  podcasts/PlaybackManager.swift
Labels: Bug, crash, UI Related, Deselecting Chapters

#1569 Settings Sync: Fixes #1566 issue with Folder sort
  podcasts/Enumerations.swift
  podcasts/FolderModel.swift
  podcasts/FolderViewController+CollectionView.swift
  podcasts/FolderViewController.swift
Labels: settings

#1570 [Categories Redesign] Add categories redesign feature flag
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
Labels: Categories Redesign

#1571 7.60 Release: Merge changes from 7.60.0.4 into `trunk`
  config/Version.xcconfig
  podcasts/ChapterManager.swift
  podcasts/ChaptersHeader.swift
  podcasts/ChaptersViewController.swift
  podcasts/Enumerations.swift
  podcasts/FolderModel.swift
  podcasts/FolderViewController+CollectionView.swift
  podcasts/FolderViewController.swift
  podcasts/PlaybackManager.swift
  podcasts/ca.lproj/Localizable.strings
  podcasts/de.lproj/Localizable.strings
  podcasts/es-MX.lproj/Localizable.strings
  podcasts/es.lproj/Localizable.strings
  podcasts/fr-CA.lproj/Localizable.strings
  podcasts/fr.lproj/Localizable.strings
  podcasts/it.lproj/Localizable.strings
  podcasts/ja.lproj/Localizable.strings
  podcasts/nl.lproj/Localizable.strings
  podcasts/pt-BR.lproj/Localizable.strings
  podcasts/ru.lproj/Localizable.strings
  podcasts/sv.lproj/Localizable.strings
  podcasts/zh-Hans.lproj/Localizable.strings
  podcasts/zh-Hant.lproj/Localizable.strings
Labels: Releases

#1563 Standard Tags: save episode metadata JSON into the database
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/EpisodeDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/Util/DatabaseHelper.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Episode.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/UserEpisode.swift
  Modules/Server/Sources/PocketCastsServer/Public/Cache/CacheServerHandler.swift
  Modules/Server/Sources/PocketCastsServer/Public/Cache/EpisodeInfoHandler.swift
  Modules/Server/Sources/PocketCastsServer/Public/Cache/ShowInfoDataRetriever.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/AppDelegate.swift
  podcasts/EpisodeArtwork.swift
  podcasts/EpisodeDetailViewController+ShowNotes.swift
  podcasts/ShowInfoCoordinating.swift
  podcasts/ShowInfoCoordinator.swift
  podcasts/ShowNotesPlayerItemViewController.swift
  podcasts/ShowNotesUpdater.swift
Labels: Standard Tags

#1567 Standard Tags: add support to chapters through RSS
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Episode.swift
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/ChapterManager.swift
  podcasts/PodcastChapterParser.swift
  podcasts/PodcastIndexChapterDataRetriever.swift
  podcasts/ShowInfoCoordinating.swift
  podcasts/ShowInfoCoordinator.swift
  podcasts/ShowNotesUpdater.swift
Labels: Standard Tags

#1572 7.60 release branch: fix trailing_whitespace
  podcasts/ChapterManager.swift
Labels: enhancement

#1575 Settings Sync: Settings Property Cleanup
  podcasts/GeneralSettingsViewController.swift
  podcasts/MiniPlayerViewController.swift
  podcasts/PlaybackCatchUpHelper.swift
  podcasts/PlaybackManager.swift
  podcasts/Settings.swift
Labels: settings

#1547 Settings Sync: Unit Test additions for Podcast and App Settings imports
  PocketCastsTests/Tests/Utilities/PodcastSettings+ImportUserDefaultsTests.swift
  PocketCastsTests/Tests/Utilities/SettingsTests.swift
Labels: settings

#1573 Standard Tags: show episode artwork everywhere but Discover
  podcasts/EpisodeCell.swift
  podcasts/EpisodeDetailViewController.swift
  podcasts/EpisodePreviewCell.swift
  podcasts/ImageManager.swift
  podcasts/PlayerCell.swift
  podcasts/PodcastImageView.swift
  podcasts/Strings+Generated.swift
  podcasts/UpNextButton.swift
  podcasts/UpNextNowPlayingCell.swift
  podcasts/en.lproj/Localizable.strings
Labels: Standard Tags

#1574 Standard Tags: enable new show notes, episode artwork and RSS chapters
  CHANGELOG.md
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
  PocketCastsTests/Tests/Playback/Chapters/ChapterManagerTests.swift
  podcasts/ChapterManager.swift
  podcasts/ShowInfoCoordinating.swift
Labels: Standard Tags

#1576 Fallback to default player when length is not available
  podcasts/EffectsPlayer.swift
Labels: Bug, playback, Player
