Repository Automattic/pocket-casts-ios, pull requests merged in 2025-03, with the labels that each got.

#2797 Merge release/7.84 into trunk
  CHANGELOG.md
  config/Version.xcconfig
  fastlane/Frozen.strings
  podcasts/Resources/release_notes.txt
Labels: Releases

#2794 [Suggested Folders] How to and confirmations screens for suggested folders
  podcasts.xcodeproj/project.pbxproj
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/CommonImages.xcassets/switch.imageset/Contents.json
  podcasts/CommonImages.xcassets/switch.imageset/switch.svg
  podcasts/GridFoldersView.swift
  podcasts/Strings+Generated.swift
  podcasts/Styles.swift
  podcasts/SuggestedFoldersView.swift
  podcasts/SwiftUI/ModalMessage.swift
  podcasts/en.lproj/Localizable.strings
Labels: Suggested Folders

#2800 [Suggested Folders] IAP flow
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/FolderDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  Modules/Server/Sources/PocketCastsServer/Private/API Tasks/SuggestedFolderTask.swift
  podcasts/FoldersCoordinator.swift
  podcasts/SuggestedFoldersModel.swift
  podcasts/SuggestedFoldersUpSellView.swift
  podcasts/SuggestedFoldersView.swift
Labels: Suggested Folders

#2802 [Revert] Dismiss episode detail when archiving
  CHANGELOG.md
  podcasts/EpisodeDetailViewController+Actions.swift
Labels: [Type] Fix

#2805 [Suggested Folders] Fix for Suggested flow showing all the time.
  podcasts/FoldersCoordinator.swift
Labels: Suggested Folders

#2806 [Fix] Add logs and prevent tap if user is not logged in
  CHANGELOG.md
  podcasts/Settings.swift
  podcasts/UpNextViewController.swift
Labels: [Type] Fix

#2774 GRDB: add database abstraction
  Modules/DataModel/Sources/PocketCastsDataModel/Private/DB/FMDB/FMDBDatabase.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/DB/FMDB/FMDBQueue.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/DB/FMDB/FMDBResultSet.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/DB/PCDBQueue.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/DB/PCDBResultSet.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/DB/PCDatabase.swift
Labels: [Type] Tech Debt

#2778 GRDB: use the database protocol instead of FMDB directly
  Modules/DataModel/Sources/PocketCastsDataModel/Private/DB/FMDB/FMDBQueue.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/DB/PCDBQueue.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/DB/PCDBResultSet.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/DB/PCDatabase.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/AutoAddQueueDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/DataHelper.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/EndOfYearDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/EpisodeDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/EpisodeFilterDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/FolderDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/FolderHistoryManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/PodcastDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/UpNextChangesDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/UpNextDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/UpNextHistoryManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/UserEpisodeDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/Util/DBUtils.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/Util/DatabaseHelper.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/Util/FMDatabaseQueue+Async.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Bookmarks/BookmarkDataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Episode+fromDatabase.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Podcast+fromDatabase.swift
  Modules/DataModel/Tests/PocketCastsDataModelTests/AutoAddCandidatesDataManagerTests.swift
  Modules/DataModel/Tests/PocketCastsDataModelTests/BookmarkDataManagerTests.swift
  Modules/DataModel/Tests/PocketCastsDataModelTests/PodcastDataManagerTests.swift
  Modules/Server/Tests/PocketCastsServerTests/SyncTaskTests+BookmarkImport.swift
  Modules/Server/Tests/PocketCastsServerTests/SyncTaskTests+Episodes.swift
  PocketCastsTests/Helpers/DBTestCase.swift
  PocketCastsTests/Mocks/EndOfYearManagerMock.swift
Labels: [Type] Tech Debt

#2810 Merge release/7.84 into trunk
  CHANGELOG.md
  config/Version.xcconfig
  podcasts/Settings.swift
  podcasts/UpNextViewController.swift
  podcasts/ca.lproj/Localizable.strings
Labels: Releases

#2804 [Suggested Folders] New CTA flow
  podcasts.xcodeproj/project.pbxproj
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/Analytics/Helpers/AnalyticsCoordinator.swift
  podcasts/CreateFolderView.swift
  podcasts/FolderPreviewView.swift
  podcasts/FoldersCoordinator.swift
  podcasts/GridFoldersView.swift
  podcasts/Onboarding/OnboardingFlow.swift
  podcasts/Strings+Generated.swift
  podcasts/SuggestedFolderPodcastView.swift
  podcasts/SuggestedFoldersModel.swift
  podcasts/SuggestedFoldersUpSellView.swift
  podcasts/SuggestedFoldersView.swift
  podcasts/en.lproj/Localizable.strings
Labels: Suggested Folders

#2811 [Suggested folders] Cache results
  podcasts/FoldersCoordinator.swift
  podcasts/SuggestedFoldersModel.swift
  podcasts/SuggestedFoldersView.swift
Labels: Suggested Folders

#2809 [App Clips] Add error empty state for App Clip and podcast latest episode fallback
  CHANGELOG.md
  Pocket Casts App Clip/Assets.xcassets/ac-yield.imageset/Contents.json
  Pocket Casts App Clip/Assets.xcassets/ac-yield.imageset/cs-yield.svg
  Pocket Casts App Clip/NowPlayingView.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Project] App Clip

#2824 Add notification icon to podcast header
  CHANGELOG.md
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/PodcastHeadingTableCell.swift
  podcasts/PodcastHeadingTableCell.xib
  podcasts/PodcastViewController.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Feature] Podcast Details, [Project] Podcast View Changes

#2819 [Generated Transcript] Add new FF
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
Labels: [Project] Transcripts

#2823 [Generated Transcripts] Parse new pocket casts transcript parameter
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Episode.swift
  PocketCastsTests/Tests/Playback/Chapters/ChapterManagerTests.swift
  PocketCastsTests/Tests/Player/Transcripts/TranscriptManagerTests.swift
  podcasts/Episode Info Coordinator/ShowInfoCoordinating.swift
  podcasts/Episode Info Coordinator/ShowInfoCoordinator.swift
  podcasts/Episode+Transcript.swift
  podcasts/NowPlayingPlayerItemViewController+Shelf.swift
  podcasts/ShelfActionsViewController.swift
  podcasts/TranscriptManager.swift
  podcasts/TranscriptShelfButton.swift
Labels: [Project] Transcripts

#2835 Merge release/7.84 into trunk
  CHANGELOG.md
  Pocket Casts App Clip/Assets.xcassets/ac-yield.imageset/Contents.json
  Pocket Casts App Clip/Assets.xcassets/ac-yield.imageset/cs-yield.svg
  Pocket Casts App Clip/NowPlayingView.swift
  config/Version.xcconfig
  fastlane/Frozen.strings
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/PodcastHeadingTableCell.swift
  podcasts/PodcastHeadingTableCell.xib
  podcasts/PodcastViewController.swift
  podcasts/ProfileViewController.swift
  podcasts/Strings+Generated.swift
  podcasts/de.lproj/Localizable.strings
  podcasts/en.lproj/Localizable.strings
  podcasts/es-MX.lproj/Localizable.strings
  podcasts/es.lproj/Localizable.strings
  podcasts/fr-CA.lproj/Localizable.strings
  podcasts/fr.lproj/Localizable.strings
  podcasts/it.lproj/Localizable.strings
  podcasts/ja.lproj/Localizable.strings
  podcasts/nl.lproj/Localizable.strings
  podcasts/pt-BR.lproj/Localizable.strings
  podcasts/ru.lproj/Localizable.strings
  podcasts/zh-Hans.lproj/Localizable.strings
  podcasts/zh-Hant.lproj/Localizable.strings
Labels: Releases

#2827 Add feature flag for new podcast header design
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/PodcastHeaderCell.swift
  podcasts/PodcastViewController+TableData.swift
Labels: [Project] Podcast View Changes

#2822 Control download queue by detecting metered wifi
  Modules/Server/Sources/PocketCastsServer/Public/Upload/UploadManager.swift
  Modules/Utils/Sources/PocketCastsUtils/Networking/NetworkUtils.swift
  Modules/Utils/Sources/PocketCastsUtils/Networking/Reachability.swift
  podcasts/DownloadManager.swift
  podcasts/DownloadSettingsViewController.swift
  podcasts/EpisodeListSearchController.swift
  podcasts/FilterManager.swift
  podcasts/ImageManager.swift
  podcasts/MultiSelectHelper.swift
  podcasts/NetworkUtils+Helpers.swift
  podcasts/PlaybackQueue.swift
  podcasts/PlaylistViewController.swift
  podcasts/PodcastManager.swift
  podcasts/ServerSyncManager.swift
  podcasts/Strings+Generated.swift
  podcasts/UserEpisodeManager.swift
  podcasts/en.lproj/Localizable.strings
Labels: Auto Download

#2836 [Generated Transcript] Add top banner
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Model/Episode.swift
  podcasts/Episode Info Coordinator/ShowInfoCoordinator.swift
  podcasts/NowPlayingPlayerItemViewController+Shelf.swift
  podcasts/NowPlayingPlayerItemViewController.swift
  podcasts/Strings+Generated.swift
  podcasts/TranscriptManager.swift
  podcasts/TranscriptViewController.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Project] Transcripts

#2849 [Generated Transcripts] Enable Feature Flag
  CHANGELOG.md
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
Labels: [Project] Transcripts

#2847 [Generated Transcripts] Add analytics events
  CHANGELOG.md
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/GeneratedTranscriptsPremiumOverlay.swift
  podcasts/PlayerContainerViewController.swift
Labels: [Project] Transcripts

#2855 Update Changelog
  CHANGELOG.md
Labels: Changelog

#2838 [Podcast view changes] Implement new header layout
  podcasts.xcodeproj/project.pbxproj
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/PodcastHeaderCell.swift
  podcasts/PodcastHeaderModel.swift
  podcasts/PodcastHeadingTableCell.swift
  podcasts/PodcastViewController+TableData.swift
  podcasts/PodcastViewController.swift
  podcasts/PoscastHeaderView.swift
  podcasts/Ratings/StarRatingView.swift
Labels: [Project] Podcast View Changes

#2852 [Podcast view changes] Update navigation bar styles
  podcasts/EpisodeDetailViewController.swift
  podcasts/FakeNavViewController.swift
  podcasts/PodcastHeaderCell.swift
  podcasts/PodcastViewController.swift
  podcasts/PodcastViewController.xib
  podcasts/PoscastHeaderView.swift
Labels: [Project] Podcast View Changes

#2860 Merge release/7.85 into trunk
  CHANGELOG.md
  config/Version.xcconfig
  fastlane/Frozen.strings
  podcasts/Resources/release_notes.txt
Labels: Releases

#2853 [Update] Update A8C tracks
  podcasts.xcodeproj/project.pbxproj
  podcasts.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: Dependencies

#2867 [Generated Transcript] Update banner view when episode finishes
  podcasts/TranscriptViewController.swift
Labels: [Project] Transcripts

#2864 [Newform AppsFlyer Integration] Add AppsFlyer key
  .configure
  .configure-files/pocket_casts_credentials.json.enc
  podcasts/Credentials/ApiCredentials.tpl
Labels: [Project] Newform AppsFlyer Integration

#2861 [Podcast view changes] Follow button animation
  podcasts/PodcastHeaderModel.swift
  podcasts/PoscastHeaderView.swift
Labels: [Project] Podcast View Changes

#2870 [FIx] Fix Most Popular in Region Share URL
  CHANGELOG.md
  podcasts/DiscoverCollectionViewController+DiscoverDelegate.swift
  podcasts/DiscoverViewController+DiscoverDelegate.swift
Labels: [Type] Bug, [Type] Fix

#2876 Remove Pulse
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
  Podfile
  Podfile.lock
  podcasts/AppDelegate.swift
  podcasts/DatabaseExport.swift
  podcasts/DeveloperMenu.swift
Labels: Dependencies

#2877 Ignore `.build`
  .gitignore
Labels: [Type] Tooling

#2883 [Suggested Folders] - Fix upsell flow
  podcasts/Onboarding/OnboardingFlow.swift
Labels: Suggested Folders

#2881 Fix podcast expand animation border display
  podcasts/PodcastHeadingTableCell.swift
Labels: [Project] Podcast View Changes

#2886 [Suggested folders] Don't show suggested folders if podcasts didn't change since last application
  podcasts.xcodeproj/project.pbxproj
  podcasts/Constants.swift
  podcasts/FoldersCoordinator.swift
  podcasts/Settings.swift
  podcasts/String+MD5.swift
Labels: Suggested Folders

#2880 [Podcast view changes] HTML description
  podcasts.xcodeproj/project.pbxproj
  podcasts/PodcastHeaderCell.swift
  podcasts/PodcastHeaderDescriptionView.swift
  podcasts/PodcastHeaderModel.swift
  podcasts/PodcastHeaderView.swift
  podcasts/PodcastViewController+TableData.swift
  podcasts/PodcastViewController.swift
  podcasts/RichExpandableDescriptionView.swift
Labels: [Project] Podcast View Changes

#2888 [Newform AppsFlyer] Add Feature Flag
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
Labels: [Project] Newform AppsFlyer Integration

#2889 [Podcast View Changes] Animations tweaks
  podcasts/PodcastHeaderCell.swift
  podcasts/PodcastHeaderView.swift
Labels: [Project] Podcast View Changes

#2891 [Podcast View Changes] show onboarding tooltip view
  podcasts/AppDelegate.swift
  podcasts/Constants.swift
  podcasts/PodcastViewController.swift
  podcasts/Settings.swift
  podcasts/Strings+Generated.swift
  podcasts/TipView.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Project] Podcast View Changes

#2895 [Podcast View Changes] Navigation to category
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/Categories/CategoriesSelectorViewController.swift
  podcasts/Constants.swift
  podcasts/DiscoverCellType.swift
  podcasts/DiscoverCollectionViewController+DiscoverDelegate.swift
  podcasts/DiscoverCollectionViewController.swift
  podcasts/DiscoverSummaryProtocol.swift
  podcasts/DiscoverViewController+DiscoverDelegate.swift
  podcasts/MainTabBarController.swift
  podcasts/NavigationManager.swift
  podcasts/NavigationProtocol.swift
  podcasts/PodcastHeaderModel.swift
  podcasts/PodcastHeaderView.swift
  podcasts/PodcastViewController.swift
  podcasts/UIViewControllerContentConfiguration.swift
Labels: [Project] Podcast View Changes

#2894 [Newform AppsFlyer Integration] Add AppsFlyer SDK, adapter and ATT
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
  PocketCastsTests/Tests/Analytics/AnonymousIdentifiableTests.swift
  PocketCastsTests/Tests/Analytics/AppsFlyerAdapterTests.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts.xcworkspace/xcshareddata/swiftpm/Package.resolved
  podcasts/Analytics/Adapters/Apple ATT/AppTrackingTransparencyController.swift
  podcasts/Analytics/Adapters/Newform AppsFlyer/AppsFlyerAdapter.swift
  podcasts/Analytics/Adapters/Newform AppsFlyer/AppsFlyerDataProvider.swift
  podcasts/Analytics/Adapters/Tracks/TracksAdapter.swift
  podcasts/Analytics/AnonymousIdentifiable.swift
  podcasts/AppDelegate+Analytics.swift
  podcasts/MainTabBarController.swift
  podcasts/en.lproj/InfoPlist.strings
  podcasts/podcasts-Info.plist
Labels: [Project] Newform AppsFlyer Integration

#2897 [Podcast view changes] Activate FF and solve some issues
  CHANGELOG.md
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
  podcasts/PodcastHeaderModel.swift
  podcasts/PodcastHeaderView.swift
  podcasts/PodcastHeadingTableCell.swift
  podcasts/PodcastViewController+NetworkLoad.swift
  podcasts/PodcastViewController.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Project] Podcast View Changes

#2857 [Tooling] Migrate Prototype Builds from App Center to Firebase App Distribution
  .buildkite/pipeline.yml
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
Labels: [Type] Tooling

#2896 [Newform AppsFlyer Integration] Add supported events list
  PocketCastsTests/Tests/Analytics/AppsFlyerAdapterTests.swift
  podcasts/Analytics/Adapters/Newform AppsFlyer/AppsFlyerAdapter.swift
  podcasts/Analytics/Adapters/Newform AppsFlyer/AppsFlyerDataProvider.swift
Labels: [Project] Newform AppsFlyer Integration

#2904 Merge release/7.85 into trunk
  config/Version.xcconfig
  podcasts/ca.lproj/Localizable.strings
  podcasts/de.lproj/Localizable.strings
  podcasts/es-MX.lproj/Localizable.strings
  podcasts/es.lproj/Localizable.strings
  podcasts/fr-CA.lproj/Localizable.strings
  podcasts/fr.lproj/Localizable.strings
  podcasts/it.lproj/Localizable.strings
  podcasts/ja.lproj/Localizable.strings
  podcasts/nl.lproj/Localizable.strings
  podcasts/pt-BR.lproj/Localizable.strings
  podcasts/ru.lproj/Localizable.strings
  podcasts/sv.lproj/Localizable.strings
  podcasts/zh-Hans.lproj/Localizable.strings
  podcasts/zh-Hant.lproj/Localizable.strings
Labels: Releases

#2915 Merge release/7.86 into trunk
  CHANGELOG.md
  config/Version.xcconfig
  fastlane/Frozen.strings
  podcasts/Resources/release_notes.txt
Labels: Releases
