Repository Automattic/pocket-casts-ios, pull requests merged in 2025-05, with the labels that each got.

#3051 [Notifications revamps] Offers notifications
  podcasts/Constants.swift
  podcasts/Notifications/NotificationsCoordinator+AnalyticsAdapter.swift
  podcasts/Notifications/NotificationsCoordinator.swift
  podcasts/NotificationsViewController.swift
  podcasts/Settings.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Project] Notifications Revamp

#3040 GRDB: add `write` and `read` methods
  Modules/DataModel/Sources/PocketCastsDataModel/Private/DB/FMDB/FMDBDatabase.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/DB/FMDB/FMDBQueue.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/DB/GRDB/GRDBDatabase.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/DB/GRDB/GRDBQueue.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/DB/PCDBQueue.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/DB/PCDatabase.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/Util/DatabaseHelper.swift
Labels: [Type] Tech Debt

#3045 Recommendations: Similar Shows tab
  Modules/Server/Sources/PocketCastsServer/Private/TokenHelper.swift
  Modules/Server/Sources/PocketCastsServer/Public/ServerPodcastManager.swift
  Modules/Server/Sources/PocketCastsServer/Public/URLConnection.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/Analytics/Helpers/AnalyticsCoordinator.swift
  podcasts/EpisodeBookmarksTabsView.swift
  podcasts/PodcastDetailsTabView.swift
  podcasts/PodcastHeaderView.swift
  podcasts/PodcastHeadingTableCell.swift
  podcasts/PodcastInfo+DiscoverPodcast.swift
  podcasts/PodcastTableCellView.swift
  podcasts/PodcastTableViewCell.swift
  podcasts/PodcastViewController+TableData.swift
  podcasts/PodcastViewController.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Project] Improving Podcast Recommendations

#3057 Merge release/7.88 into trunk
  .configure
  .configure-files/pocket_casts_credentials.json.enc
  PocketCastsTests/Tests/Analytics/AppsFlyerAdapterTests.swift
  config/Version.xcconfig
  fastlane/Frozen.strings
  podcasts.xcodeproj/project.pbxproj
  podcasts.xcworkspace/xcshareddata/swiftpm/Package.resolved
  podcasts/Analytics/Adapters/Apple ATT/AppTrackingTransparencyController.swift
  podcasts/Analytics/Adapters/Newform AppsFlyer/AppsFlyerAdapter.swift
  podcasts/Analytics/Adapters/Newform AppsFlyer/AppsFlyerDataProvider.swift
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/AppDelegate+SiriShortcuts.swift
  podcasts/AppDelegate+UrlHandling.swift
  podcasts/AppDelegate.swift
  podcasts/Cancel Subscription/Cancel Subscription/CancelSubscriptionView.swift
  podcasts/Cancel Subscription/Cancel Subscription/Offer View/CancelSubscriptionOfferSuccessView.swift
  podcasts/Cancel Subscription/Cancel Subscription/Offer View/CancelSubscriptionWinbackOfferView.swift
  podcasts/Cancel Subscription/CancelSubscriptionViewModel.swift
  podcasts/CancelConfirmationView.swift
  podcasts/CancelConfirmationViewModel.swift
  podcasts/CancelSubscription.xcassets/cs-winback-offer.imageset/Contents.json
  podcasts/CancelSubscription.xcassets/cs-winback-offer.imageset/Heart (1).svg
  podcasts/Constants.swift
  podcasts/Credentials/ApiCredentials.tpl
  podcasts/FoldersCoordinator.swift
  podcasts/SceneDelegate.swift
  podcasts/Strings+Generated.swift
  podcasts/Subscription.xcassets/folder-cross.imageset/Contents.json
  podcasts/Subscription.xcassets/folder-cross.imageset/folder-cross.svg
  podcasts/ca.lproj/Localizable.strings
  podcasts/de.lproj/Localizable.strings
  podcasts/en.lproj/Localizable.strings
  podcasts/es-MX.lproj/Localizable.strings
  podcasts/es.lproj/Localizable.strings
  podcasts/fr-CA.lproj/Localizable.strings
  podcasts/fr.lproj/Localizable.strings
  podcasts/it.lproj/Localizable.strings
  podcasts/ja.lproj/Localizable.strings
  podcasts/nl.lproj/Localizable.strings
  podcasts/pt-BR.lproj/Localizable.strings
  podcasts/ru.lproj/Localizable.strings
  podcasts/sv.lproj/Localizable.strings
  podcasts/zh-Hans.lproj/Localizable.strings
  podcasts/zh-Hant.lproj/Localizable.strings
Labels: Releases

#3055 Add source properties for purchase_ events
  podcasts/IAPHelper.swift
  podcasts/Onboarding/OnboardingFlow.swift
Labels: Analytics

#3060 [Notifications Revamp] refactor new episodes notifications setup
  podcasts/Constants.swift
  podcasts/Notifications/NotificationsCoordinator.swift
  podcasts/NotificationsViewController.swift
  podcasts/PodcastManager.swift
  podcasts/Settings.swift
Labels: [Project] Notifications Revamp

#3065 Recommendations: Add Podroll section to Similar Shows
  Modules/Server/Sources/PocketCastsServer/Public/Sharing/Structs/ServerStructs.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/PodcastViewController+TableData.swift
  podcasts/PodcastViewController.swift
  podcasts/PodcastViewController.xib
  podcasts/PodrollHeaderView.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Project] Improving Podcast Recommendations

#3062 [Notifications revamp] Implement new feature notification
  podcasts/AppDelegate+UrlHandling.swift
  podcasts/FoldersCoordinator.swift
  podcasts/MainTabBarController.swift
  podcasts/NavigationManager.swift
  podcasts/NavigationProtocol.swift
  podcasts/Notifications/NotificationsCoordinator+AnalyticsAdapter.swift
  podcasts/Notifications/NotificationsCoordinator.swift
  podcasts/PodcastListViewController.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
  scripts/notifications/features-suggestedFolders.apns
Labels: [Project] Notifications Revamp

#3066 [Transcripts ] Only send transcript show event if transcript is being actually show
  podcasts/TranscriptViewController.swift
Labels: Analytics, [Project] Transcripts

#3072 Fix crash when long pressing Episode list cell
  podcasts/PodcastViewController+TableData.swift
Labels: crash, [Project] Improving Podcast Recommendations

#3067 [Notifications Revamp] Add user recommendations notification
  podcasts/Notifications/NotificationsCoordinator+AnalyticsAdapter.swift
  podcasts/Notifications/NotificationsCoordinator.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
  scripts/notifications/discover-you-might-like.apns
Labels: [Project] Notifications Revamp

#3075 [Improve Podcast Sorting] Hide tip close button
  podcasts/PodcastListViewController+Tip.swift
Labels: [Project] Improving Podcast Sorting

#3074 [Notifications revamp] Permissions onboarding
  podcasts.xcodeproj/project.pbxproj
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/MainTabBarController.swift
  podcasts/NavigationManager.swift
  podcasts/NavigationProtocol.swift
  podcasts/Notifications.xcassets/Contents.json
  podcasts/Notifications.xcassets/notifications_permissions_banner.imageset/Contents.json
  podcasts/Notifications.xcassets/notifications_permissions_banner.imageset/Iphone mockup@2x.heic
  podcasts/Notifications.xcassets/notifications_permissions_banner.imageset/Iphone mockup@3x.heic
  podcasts/Notifications/NotificationsCoordinator.swift
  podcasts/Notifications/NotificationsPermissionsView.swift
  podcasts/NotificationsViewController.swift
  podcasts/Onboarding/OnboardingFlow.swift
  podcasts/Settings.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Project] Notifications Revamp

#3077 Fix pull to refresh UI component color
  Modules/Utils/Sources/PocketCastsUtils/Extensions/UI/UIImage+Contrast.swift
  podcasts/CustomRefreshControl.swift
  podcasts/PodcastViewController.swift
Labels: [Project] Podcast View Changes

#3079 [Fix] Informational Modal presentation fix
  PocketCastsTests/Tests/Analytics/AppLifecyleAnalyticsTests.swift
  podcasts/Analytics/AppLifecyleAnalytics.swift
  podcasts/AppDelegate+Defaults.swift
  podcasts/AppDelegate.swift
  podcasts/Constants.swift
  podcasts/MainTabBarController.swift
  podcasts/Onboarding/Encourage Account Creation/Modal/InformationalModalViewModel.swift
  podcasts/Settings.swift
Labels: [Type] Fix, [Project] Encourage Account Creation

#3070 Recommendations: Add information modal for Podroll
  Modules/Server/Sources/PocketCastsServer/Public/Sharing/Structs/ServerConstants.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/CreatorPickModalView.swift
  podcasts/End of Year/Stories/MDCSwiftUIWrapper.swift
  podcasts/PodcastDetailsTabView.swift
  podcasts/PodcastViewController+TableData.swift
  podcasts/PodcastViewController.swift
  podcasts/PodrollHeaderView.swift
  podcasts/Strings+Generated.swift
  podcasts/SwiftUI/SFSafariView.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Project] Improving Podcast Recommendations

#3076 Recommendations: Enable feature flag
  CHANGELOG.md
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
Labels: [Project] Improving Podcast Recommendations

#3071 Recommendations: Add event tracking for Podroll cells + Info modal
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/Analytics/Helpers/AnalyticsCoordinator.swift
  podcasts/PodcastTableCellView.swift
  podcasts/PodcastTableViewCell.swift
  podcasts/PodcastViewController+TableData.swift
Labels: [Project] Improving Podcast Recommendations

#3059 Adds podcast to funding tap analytics
  podcasts/PodcastViewController.swift
Labels: [Type] Enhancement, Analytics

#3081 Fix category pill selection reloading
  podcasts/DiscoverCollectionViewController.swift
Labels: Discover

#3087 Merge release/7.88 into trunk
  config/Version.xcconfig
  podcasts/DiscoverCollectionViewController.swift
  podcasts/nl.lproj/Localizable.strings
  podcasts/ru.lproj/Localizable.strings
Labels: Releases

#3083 [Winback] Survey Screen
  Modules/Server/Sources/PocketCastsServer/Private/API Tasks/SubscriptionStatusTask.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/Cancel Subscription/Cancel Subscription/Survey/CancelSubscriptionSurveyRow.swift
  podcasts/Cancel Subscription/Cancel Subscription/Survey/CancelSubscriptionSurveyView.swift
  podcasts/Cancel Subscription/Cancel Subscription/Survey/CancelSubscriptionSurveyViewModel.swift
  podcasts/DeveloperMenu.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Project] Winback

#3089 [Winback Updates] Fix typo
  podcasts/Cancel Subscription/Cancel Subscription/Offer View/CancelSubscriptionWinbackOfferView.swift
Labels: [Type] Fix

#3092 Notifications track one off notifications
  podcasts/Constants.swift
  podcasts/Notifications/NotificationsCoordinator+AnalyticsAdapter.swift
  podcasts/Notifications/NotificationsCoordinator.swift
  podcasts/NotificationsHelper.swift
  podcasts/Settings.swift
Labels: [Project] Notifications Revamp

#2972 Enable app clips effects player
  podcasts/PlaybackManager.swift
Labels: Player, [Project] App Clip

#3091 Merge release/7.88 into trunk
  CHANGELOG.md
  config/Version.xcconfig
  podcasts/Cancel Subscription/Cancel Subscription/Offer View/CancelSubscriptionWinbackOfferView.swift
Labels: Releases

#3085 Recommendations: Add country code for recommendations endpoint
  Modules/Server/Sources/PocketCastsServer/Public/ServerPodcastManager.swift
  podcasts/PodcastViewController.swift
  podcasts/Settings.swift
Labels: [Project] Improving Podcast Recommendations

#3098 Merge release/7.89 into trunk
  CHANGELOG.md
  config/Version.xcconfig
  fastlane/Frozen.strings
  podcasts/Resources/release_notes.txt
Labels: Releases

#3096 Fix loading for Recommendation items in Discover
  podcasts/DiscoverCollectionViewController.swift
Labels: [Project] Improving Podcast Recommendations

#3095 App clip reminder notification
  Pocket Casts App Clip/AppClipAppDelegate.swift
  Pocket Casts App Clip/Info.plist
  Pocket Casts App Clip/NowPlayingView.swift
  Pocket Casts App Clip/Pocket_Casts_App_ClipApp.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Project] Notifications Revamp

#3090 Notifications trigger dates updates
  podcasts/DeveloperMenu.swift
  podcasts/Notifications/NotificationsCoordinator.swift
Labels: [Project] Notifications Revamp

#3094 [iOS 15 Drop] Remove macros
  WidgetExtension/App Icon/AppIconWidget.swift
  WidgetExtension/Common/Widget+Accentable.swift
  WidgetExtension/Now Playing/NowPlayingLockScreenWidget.swift
  WidgetExtension/Up Next/UpNextLockScreenWidget.swift
  podcasts/AudioReadTask.swift
  podcasts/Categories/CategoriesModalPicker.swift
  podcasts/Categories/CategoriesSelectorView.swift
  podcasts/Categories/CategoriesSelectorViewController.swift
  podcasts/Categories/CategoryButtonStyle.swift
  podcasts/ContentUnavailableConfiguration.swift
  podcasts/DiscoverCollectionViewController.swift
  podcasts/EffectsPlayer.swift
  podcasts/End of Year/Stories/MDCSwiftUIWrapper.swift
  podcasts/End of Year/Views/View+Snapshot.swift
  podcasts/EndOfYearDeveloperMenuButton.swift
  podcasts/Folder History/FolderHistoryEntryView.swift
  podcasts/Folder History/FolderHistoryView.swift
  podcasts/Kids Profile/KidsProfileSheetHost.swift
  podcasts/MultiSelectFooterView.swift
  podcasts/NowPlayingPlayerItemViewController+Shelf.swift
  podcasts/Onboarding/Plus/SubscriptionPriceAndOfferView.swift
  podcasts/Onboarding/Plus/UpgradeExperiment/PlusPaywallContainer.swift
  podcasts/PlaybackItem.swift
  podcasts/PodcastListViewController+Tip.swift
  podcasts/PodcastTableViewCell.swift
  podcasts/PodcastViewController.swift
  podcasts/Profile - SwiftUI/Account/AccountHeaderView.swift
  podcasts/Sharing/Clip/MediaTrimBar.swift
  podcasts/Sharing/Clip/TrimHandle.swift
  podcasts/Sharing/ShareImageView.swift
  podcasts/Styles.swift
  podcasts/SuggestedFoldersView.swift
  podcasts/SwiftUI/NavigationContainer.swift
  podcasts/TranscriptViewController.swift
  podcasts/UIApplication+OpenStandardURLs.swift
  podcasts/Up Next History/UpNextEntryView.swift
  podcasts/Up Next History/UpNextHistoryView.swift
  podcasts/View+CVPixelBuffer.swift
Labels: [Area] iOS 15

#3112 Fix immutable warnings
  podcasts/AnalyticsHelper.swift
Labels: [Type] Fix

#3099 Add reengagement downloads notification
  podcasts.xcodeproj/project.pbxproj
  podcasts/AppDelegate+UrlHandling.swift
  podcasts/MainTabBarController+shortcuts.swift
  podcasts/MainTabBarController.swift
  podcasts/NavigationManager.swift
  podcasts/NavigationProtocol.swift
  podcasts/Notifications/NotificationsCoordinator+AnalyticsAdapter.swift
  podcasts/Notifications/NotificationsCoordinator.swift
  podcasts/ProfileViewController.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
  scripts/notifications/reengagement_downloads.apns
Labels: [Project] Notifications Revamp

#3115 Merge release/7.89 into trunk
  Pocket Casts App Clip/AppClipAppDelegate.swift
  Pocket Casts App Clip/Info.plist
  Pocket Casts App Clip/NowPlayingView.swift
  Pocket Casts App Clip/Pocket_Casts_App_ClipApp.swift
  config/Version.xcconfig
  fastlane/Frozen.strings
  podcasts.xcodeproj/project.pbxproj
  podcasts/AnalyticsHelper.swift
  podcasts/AppDelegate+UrlHandling.swift
  podcasts/Common SwiftUI/BookmarksEmptyStateView.swift
  podcasts/DeveloperMenu.swift
  podcasts/DiscoverCollectionViewController.swift
  podcasts/EmptyStateCell.swift
  podcasts/LoadingCell.swift
  podcasts/MainTabBarController+shortcuts.swift
  podcasts/MainTabBarController.swift
  podcasts/NavigationManager.swift
  podcasts/NavigationProtocol.swift
  podcasts/Notifications/NotificationsCoordinator+AnalyticsAdapter.swift
  podcasts/Notifications/NotificationsCoordinator.swift
  podcasts/PodcastDetailsTabView.swift
  podcasts/PodcastViewController+TableData.swift
  podcasts/PodcastViewController.swift
  podcasts/ProfileViewController.swift
  podcasts/Strings+Generated.swift
  podcasts/SwiftUI/EmptyStateView.swift
  podcasts/ca.lproj/Localizable.strings
  podcasts/de.lproj/Localizable.strings
  podcasts/en.lproj/Localizable.strings
  podcasts/es-MX.lproj/Localizable.strings
  podcasts/es.lproj/Localizable.strings
  scripts/notifications/reengagement_downloads.apns
Labels: Releases

#3101 Add a gradient to the overlay
  podcasts/GeneratedTranscriptsPremiumOverlay.swift
Labels: [Project] Transcript Enhancement

#3116 Recommendations: Add similar shows section header when podroll exists
  podcasts.xcodeproj/project.pbxproj
  podcasts/CommonImages.xcassets/stacked_squares.imageset/Contents.json
  podcasts/CommonImages.xcassets/stacked_squares.imageset/stacked_squares.pdf
  podcasts/PodcastViewController+TableData.swift
  podcasts/Strings+Generated.swift
  podcasts/YouMightLikeSectionHeaderView.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Project] Improving Podcast Recommendations

#3118 Notifications permissions check on podcast settings
  podcasts/Common SwiftUI/Toast/ToastTheme.swift
  podcasts/PodcastSettingsViewController+Table.swift
  podcasts/PodcastViewController.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Project] Notifications Revamp

#3125 Recommendations: Truncate Discover headers
  podcasts/LargeListSummaryCellHeaderView.swift
  podcasts/LargeListSummaryViewController.xib
Labels: [Project] Improving Podcast Recommendations

#3130 Recommendations: Filter the current podcast out of Recommendations
  podcasts/PodcastViewController.swift
Labels: [Project] Improving Podcast Recommendations

#3131 Improved podcast image header contrast
  podcasts/Enumerations.swift
  podcasts/ImageManager.swift
  podcasts/PodcastHeaderView.swift
  podcasts/PodcastImageView.swift
Labels: [Project] Podcast View Changes

#3138 [Fix] Don't skip if frame is equal or more than file length
  CHANGELOG.md
  podcasts/AudioReadTask.swift
Labels: [Type] Fix

#3139 Merge release/7.89 into trunk
  CHANGELOG.md
  config/Version.xcconfig
  fastlane/Frozen.strings
  podcasts.xcodeproj/project.pbxproj
  podcasts/Array+DiscoverItem.swift
  podcasts/AudioReadTask.swift
  podcasts/Common SwiftUI/Toast/ToastTheme.swift
  podcasts/CommonImages.xcassets/stacked_squares.imageset/Contents.json
  podcasts/CommonImages.xcassets/stacked_squares.imageset/stacked_squares.pdf
  podcasts/DiscoverCollectionViewController.swift
  podcasts/Enumerations.swift
  podcasts/GeneratedTranscriptsPremiumOverlay.swift
  podcasts/ImageManager.swift
  podcasts/LargeListSummaryCellHeaderView.swift
  podcasts/LargeListSummaryViewController.xib
  podcasts/PodcastHeaderView.swift
  podcasts/PodcastImageView.swift
  podcasts/PodcastSettingsViewController+Table.swift
  podcasts/PodcastViewController+TableData.swift
  podcasts/PodcastViewController.swift
  podcasts/Strings+Generated.swift
  podcasts/YouMightLikeSectionHeaderView.swift
  podcasts/ca.lproj/Localizable.strings
  podcasts/en.lproj/Localizable.strings
Labels: Releases

#3129 [Empty State] ContentUnavailableConfiguration + HostingConfiguration backfill
  podcasts.xcodeproj/project.pbxproj
  podcasts/Common SwiftUI/BookmarksEmptyStateView.swift
  podcasts/ContentUnavailableConfiguration.swift
  podcasts/HostingConfiguration.swift
  podcasts/StarredViewController.swift
  podcasts/StarredViewController.xib
  podcasts/Strings+Generated.swift
  podcasts/SwiftUI/EmptyStateView.swift
  podcasts/UIViewController+ContentUnavailableConfiguration.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Project] Aligning Empty States

#3113 Use StoreKit 2 to check eligibility
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
  podcasts/IAPHelper.swift
  podcasts/Onboarding/Models/PlusPricingInfoModel.swift
Labels: Plus

#3136 [EU Accessibility Act] Support Dynamic Font in Paywall, Cards and Sheet
  podcasts.xcodeproj/project.pbxproj
  podcasts/IAPHelper.swift
  podcasts/Onboarding/Models/PlusAccountPromptViewModel.swift
  podcasts/Onboarding/Plus/Account Prompt/PlusAccountUpgradePrompt.swift
  podcasts/Onboarding/Plus/FeaturesCarousel.swift
  podcasts/Onboarding/Plus/PlusButtonStyles.swift
  podcasts/Onboarding/Plus/PlusLabel.swift
  podcasts/Onboarding/Plus/PlusPurchaseModal.swift
  podcasts/Onboarding/Plus/SubscriptionPriceAndOfferView.swift
  podcasts/Onboarding/Plus/UpgradeCard.swift
  podcasts/Onboarding/Plus/UpgradeLandingView.swift
  podcasts/Styles.swift
  podcasts/SwiftUI/View+ScaleFactor.swift
  podcasts/UIFont+FontStyle.swift
Labels: EU Accessibility Act

#3150 [Empty States] Add new Empty State to Podcasts list
  podcasts/PodcastListViewController.swift
  podcasts/PodcastListViewController.xib
Labels: [Project] Aligning Empty States

#3147 Fix racing condition on enable push
  podcasts/AppDelegate.swift
  podcasts/NotificationsHelper.swift
  podcasts/Settings.swift
Labels: [Project] Notifications Revamp

#3152 Add frequency, tier, and promo details for IAP events
  podcasts/IAPHelper.swift
  podcasts/IAPTypes.swift
  podcasts/Onboarding/Models/PlusPurchaseModel.swift
Labels: Analytics, Plus

#3159 Fix Up Next queue replacement by specifying episode IDs
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
  PocketCastsTests/PlaybackQueueTests.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/PlaybackManager.swift
  podcasts/PlaybackQueue.swift
Labels: Up Next, [Type] Fix

#3162 Merge release/7.89 into trunk
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
  PocketCastsTests/PlaybackQueueTests.swift
  config/Version.xcconfig
  podcasts.xcodeproj/project.pbxproj
  podcasts/AppDelegate.swift
  podcasts/IAPHelper.swift
  podcasts/NotificationsHelper.swift
  podcasts/Onboarding/Models/PlusPricingInfoModel.swift
  podcasts/PlaybackManager.swift
  podcasts/PlaybackQueue.swift
  podcasts/Settings.swift
  podcasts/ca.lproj/Localizable.strings
  podcasts/de.lproj/Localizable.strings
  podcasts/es-MX.lproj/Localizable.strings
  podcasts/es.lproj/Localizable.strings
  podcasts/fr-CA.lproj/Localizable.strings
  podcasts/fr.lproj/Localizable.strings
  podcasts/ja.lproj/Localizable.strings
  podcasts/pt-BR.lproj/Localizable.strings
  podcasts/ru.lproj/Localizable.strings
  podcasts/zh-Hans.lproj/Localizable.strings
Labels: Releases

#3153 Fix enum saving in DB
  Modules/DataModel/Sources/PocketCastsDataModel/Private/Managers/EpisodeDataManager.swift
Labels: [Type] Bug, [Type] Tech Debt

#3151 [EU Accessibility Act] Dynamic Font in Profile and Account rows
  podcasts/AccountActionCell.swift
  podcasts/AccountActionCell.xib
  podcasts/AccountViewController+TableView.swift
  podcasts/AnimatedImageButton.swift
  podcasts/NewsletterCell.swift
  podcasts/NewsletterCell.xib
  podcasts/ProfileViewController.swift
  podcasts/ProfileViewController.xib
  podcasts/SwiftUI/View+ScaleFactor.swift
  podcasts/TopLevelSettingsCell.swift
  podcasts/TopLevelSettingsCell.xib
Labels: EU Accessibility Act

#3142 [Winback] Survey API implementation
  Modules/Server/Sources/PocketCastsServer/Private/API Tasks/CancelSubscriptionSurveyTask.swift
  Modules/Server/Sources/PocketCastsServer/Private/API Tasks/SubscriptionStatusTask.swift
  Modules/Server/Sources/PocketCastsServer/Private/Protobuffer/api.pb.swift
  Modules/Server/Sources/PocketCastsServer/Public/API/ApiServerHandler+Winback.swift
  Modules/Server/Sources/PocketCastsServer/Public/SubscriptionHelper.swift
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
  podcasts/Cancel Subscription/Cancel Subscription/Survey/CancelSubscriptionSurveyView.swift
  podcasts/Cancel Subscription/Cancel Subscription/Survey/CancelSubscriptionSurveyViewModel.swift
  podcasts/CancelSubscription.xcassets/cs-tick.imageset/Contents.json
  podcasts/CancelSubscription.xcassets/cs-tick.imageset/tick-circle-ol.svg
  podcasts/Common SwiftUI/Toast/ToastTheme.swift
  podcasts/Common SwiftUI/Toast/ToastView.swift
  podcasts/DeveloperMenu.swift
  podcasts/ProfileViewController.swift
  podcasts/Settings.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Project] Winback

#3161 [Empty State] Update Empty State when searching
  podcasts/ListeningHistoryViewController.swift
  podcasts/ListeningHistoryViewController.xib
Labels: [Project] Aligning Empty States

#3170 [EU Accessibility Act] Cancel Subscription view
  podcasts/Cancel Subscription/Cancel Subscription/CancelSubscriptionViewRow.swift
  podcasts/Cancel Subscription/Cancel Subscription/Offer View/CancelSubscriptionOfferSuccessView.swift
  podcasts/Cancel Subscription/Cancel Subscription/Offer View/CancelSubscriptionWinbackOfferView.swift
  podcasts/Cancel Subscription/Cancel Subscription/Plans View/CancelSubscriptionPlanRow.swift
  podcasts/Cancel Subscription/Cancel Subscription/Plans View/CancelSubscriptionPlansView.swift
  podcasts/CancelConfirmationView.swift
Labels: EU Accessibility Act

#3169 Notification Revamp: Ensure that deep links to lists in Discovery are open after loading
  podcasts/DiscoverCollectionViewController+DiscoverDelegate.swift
Labels: [Project] Notifications Revamp

#3174 [EU Accessibility Act] Inject view model
  podcasts/AccountViewController+TableView.swift
  podcasts/AccountViewController.swift
  podcasts/Onboarding/Plus/Account Prompt/PlusAccountPromptTableCell.swift
Labels: EU Accessibility Act

#3173 [Recommendations] Disable sharing for authenticated discover items
  podcasts/DiscoverCollectionViewController+DiscoverDelegate.swift
  podcasts/DiscoverViewController+DiscoverDelegate.swift
  podcasts/ExpandedCollectionViewController.swift
  podcasts/PodcastHeaderListViewController.swift
Labels: [Project] Improving Podcast Recommendations

#3175 [Empty State] Update empty state for Folders
  podcasts/FolderViewController.swift
  podcasts/FolderViewController.xib
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Project] Aligning Empty States

#3178 [Empty State] Update empty state for Discover search
  podcasts/New Search/Views/Results/SearchResultsView.swift
  podcasts/SwiftUI/EmptyStateView.swift
Labels: [Project] Aligning Empty States

#3164 [Empty State] Update Bookmarks Empty State
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/Bookmarks/BookmarksTheme.swift
  podcasts/Bookmarks/List/BookmarksListView.swift
  podcasts/Common SwiftUI/BookmarksEmptyStateView.swift
  podcasts/Common SwiftUI/BookmarksLockedStateView.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Project] Aligning Empty States

#3180 Update CHANGELOG with Up Next Queue fix
  CHANGELOG.md
Labels: Up Next, Changelog

#3183 [Empty States] Persist filter tip shown setting
  podcasts/PlaylistsViewController+Table.swift
Labels: [Project] Aligning Empty States

#3185 Merge release/7.89 into trunk
  CHANGELOG.md
  config/Version.xcconfig
  podcasts/DiscoverCollectionViewController+DiscoverDelegate.swift
  podcasts/DiscoverViewController+DiscoverDelegate.swift
  podcasts/ExpandedCollectionViewController.swift
  podcasts/PodcastHeaderListViewController.swift
  podcasts/de.lproj/Localizable.strings
  podcasts/es-MX.lproj/Localizable.strings
  podcasts/es.lproj/Localizable.strings
  podcasts/fr-CA.lproj/Localizable.strings
  podcasts/fr.lproj/Localizable.strings
  podcasts/it.lproj/Localizable.strings
  podcasts/nl.lproj/Localizable.strings
  podcasts/ru.lproj/Localizable.strings
  podcasts/sv.lproj/Localizable.strings
  podcasts/zh-Hans.lproj/Localizable.strings
  podcasts/zh-Hant.lproj/Localizable.strings
Labels: Releases

#3181 [Empty States] Add CHANGELOG entry for Empty States
  CHANGELOG.md
Labels: Changelog, [Project] Aligning Empty States

#3191 [Hotfix] Prevent transcript crash
  CHANGELOG.md
  PocketCastsTests/Tests/Player/Transcripts/TranscriptManagerTests.swift
  PocketCastsTests/Tests/Player/Transcripts/empty_sample.vtt
  podcasts.xcodeproj/project.pbxproj
  podcasts/TranscriptModel.swift
Labels: [Type] Bug, crash

#3193 Merge release/7.89.1 into release/7.90
  CHANGELOG.md
  PocketCastsTests/Tests/Player/Transcripts/TranscriptManagerTests.swift
  PocketCastsTests/Tests/Player/Transcripts/empty_sample.vtt
  config/Version.xcconfig
  podcasts.xcodeproj/project.pbxproj
  podcasts/TranscriptModel.swift
Labels: Releases

#3195 [EU Accessibility Act] Fix logout banner in profile
  podcasts/AccountActionCell.xib
  podcasts/AnimatedImageButton.swift
  podcasts/Common SwiftUI/BannerView.swift
  podcasts/NewsletterCell.xib
  podcasts/ProfileViewController.swift
  podcasts/TopLevelSettingsCell.xib
Labels: EU Accessibility Act

#3184 CI Run for #3166
  CHANGELOG.md
  podcasts/MiniPlayerToFullPlayerAnimator.swift
Labels: [Type] Bug

#3198 Fix changelog
  CHANGELOG.md
Labels: Changelog

#3203 [Empty States] Remove background color from the Empty State
  podcasts/Bookmarks/BookmarksTheme.swift
  podcasts/Bookmarks/List/BookmarksListView.swift
  podcasts/Common SwiftUI/BookmarksEmptyStateView.swift
  podcasts/ContentUnavailableConfiguration.swift
  podcasts/ListeningHistoryViewController.swift
  podcasts/New Search/Views/Results/SearchResultsView.swift
  podcasts/SwiftUI/EmptyStateView.swift
  podcasts/UpNextViewController+Table.swift
Labels: [Project] Aligning Empty States

#3192 GRDB: remove `try!` and log errors in Sentry
  Modules/DataModel/Sources/PocketCastsDataModel/Private/DB/GRDB/GRDBQueue.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
  Modules/DataModel/Sources/PocketCastsDataModel/Public/Logger/ErrorLogger.swift
  podcasts/Analytics/Adapters/Crash Logging/CrashLoggingAdapter.swift
  podcasts/AppDelegate.swift
Labels: [Type] Tech Debt

#3194 GRDB: ensure the SQL file is not protected
  Modules/DataModel/Sources/PocketCastsDataModel/Public/DataManager.swift
Labels: [Type] Tech Debt

#3199 Update Swiftsubtitles package to 1.8.3
  podcasts.xcodeproj/project.pbxproj
  podcasts.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: [Type] Bug, Dependencies

#3213 [Transcript in episode] Add excerpt
  Modules/Utils/Sources/PocketCastsUtils/Feature Flags/FeatureFlag.swift
  podcasts.xcodeproj/project.pbxproj
  podcasts/Analytics/AnalyticsEvent.swift
  podcasts/Analytics/Helpers/AnalyticsCoordinator.swift
  podcasts/CommonImages.xcassets/generated_transcript.imageset/Contents.json
  podcasts/CommonImages.xcassets/generated_transcript.imageset/Vector.svg
  podcasts/EpisodeDetailViewController+ShowNotes.swift
  podcasts/EpisodeDetailViewController.swift
  podcasts/EpisodeDetailViewController.xib
  podcasts/GeneratedTranscriptsPremiumOverlay.swift
  podcasts/SwiftUI/View+if.swift
  podcasts/TranscriptExcerptView.swift
  podcasts/TranscriptViewController.swift
  podcasts/UIFont+FontStyle.swift
Labels: [Project] Transcripts, [Project] Transcript Enhancement

#3202 [Recommendations] Update podroll header title
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: [Project] Improving Podcast Recommendations

#3207 Add general sharing to Logs view + Disable Editing
  podcasts.xcodeproj/project.pbxproj
  podcasts/Common SwiftUI/NonEditableTextView.swift
  podcasts/LogsView.swift
Labels: Logging

#3214 Merge release/7.90 into trunk
  config/Version.xcconfig
  fastlane/Frozen.strings
  podcasts.xcodeproj/project.pbxproj
  podcasts.xcworkspace/xcshareddata/swiftpm/Package.resolved
  podcasts/Common SwiftUI/NonEditableTextView.swift
  podcasts/LogsView.swift
  podcasts/Strings+Generated.swift
  podcasts/en.lproj/Localizable.strings
Labels: Releases
